{% assign show = collection.metafields.airf.c_cta_show %}
{% assign heading = collection.metafields.airf.c_cta_h %}
{% assign text = collection.metafields.airf.c_cta_t %}
{% assign buttonLink = collection.metafields.airf.c_cta_bl %}
{% assign buttonText = collection.metafields.airf.c_cta_bt %}
{% assign backgroundColor = collection.metafields.airf.c_cta_bg %}

{% if show == "true" %}
<div class="collection-cta">
    <div class="section-inner collection-cta-container">
        <h3>{{ heading }}</h3>
        <p>{{ text }}</p>
        {% if buttonLink and buttonLink != '&nbsp' %}
            {% include 'button', label: buttonText, type: 'link', href: buttonLink, style: 'button--primary' %}
        {% endif %}
    </div>
</div>
{% endif %}

{% style %}
.collection-cta {
    background-color: {{ backgroundColor }};
    padding: 100px 0px;
}
.collection-cta-container {
    text-align: center;
    width: 50%;
}
.collection-cta-container h3 {
    margin: auto;
    margin-bottom: 16px;
    max-width: 500px;
}

.collection-cta-container p {
    margin-bottom: 40px;
}

.collection-cta-container .button.button--primary {
    width: auto;
    padding: 20px 50px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .collection-cta {
        padding: 50px 0px;
    }
    .collection-cta-container {
        width: 95%;
    }
}
{% endstyle %}