{% assign textPosRight = collection.metafields.airf.bb_txt_pos %}
{% assign show = collection.metafields.airf.bb_show %}
{% if show == "true" %}
    {% assign backgroundColor = collection.metafields.airf.bb_bg %}
    {% if backgroundColor and backgroundColor != '&nbsp' %}
    {% else %}
        {% assign backgroundColor = shop.metafields.airf.c_bb_bg %}
    {% endif %}
    {% assign backgroundImage = collection.metafields.airf.bb_image %}
    {% if backgroundImage and backgroundImage != '&nbsp' %}
    {% else %}
        {% assign backgroundImage = shop.metafields.airf.c_bb_i %}
    {% endif %}
    {% assign heading = collection.metafields.airf.bb_heading %}
    {% if heading and heading != '&nbsp' %}
    {% else %}
        {% assign heading = shop.metafields.airf.c_bb_h %}
    {% endif %}
    {% assign subheading = collection.metafields.airf.bb_subhead %}
    {% if subheading and subheading != '&nbsp' %}
    {% else %}
        {% assign subheading = shop.metafields.airf.c_bb_sh %}
    {% endif %}
    {% assign buttonLink = collection.metafields.airf.bb_btn_lnk %}
    {% if buttonLink and buttonLink != '&nbsp' %}
    {% else %}
        {% assign buttonLink = shop.metafields.airf.c_bb_bl %}
    {% endif %}
    {% assign buttonText = collection.metafields.airf.bb_btn_txt %}
    {% if buttonText and buttonText != '&nbsp' %}
    {% else %}
        {% assign buttonText = shop.metafields.airf.c_bb_bt %}
    {% endif %}
    <div class="product-section-bottom-banner" style="background-color: {{ backgroundColor }};">
        <div class="product-section-bottom-banner-bg" style="background-image: url('{{ backgroundImage }}');"></div>
        <div class="section-inner collection-bottom-banner">
            <div class="bottom-banner-content">
                <div class="bottom-banner-heading">
                    <h2>{{ heading }}</h2>
                    <h3>{{ subheading }}</h3>
                </div>
                {% if buttonLink and buttonLink != '&nbsp' %}
                    <div class="bottom-banner-cta">
                        {% include 'button', label: buttonText, type: 'link', href: buttonLink, style: 'button--secondary' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% style %}
    .bottom-banner-content {
        text-align: center;
    }

    {% if textPosRight == "true" %}
    .section-inner.collection-bottom-banner {
        display: flex;
        flex-direction: row-reverse;   
    }
    {% else %}
    .section-inner.collection-bottom-banner {
        display: flex;
        flex-direction: row;   
    }
    {% endif %}

    .product-section-bottom-banner-bg {
        top: -49px;
        height: calc(100% + 49px);
    }

    .product-section-bottom-banner {
        margin-bottom: 0px;
    }

    .bottom-banner-cta a.button.button--secondary {
        width: auto;
    }

    @media (max-width: 767px) {
        .section-inner.collection-bottom-banner {
            justify-content: center; 
        }

        .bottom-banner-content {
            padding: 310px 0 136px 0;
        }

        .bottom-banner-heading h2{
            color: inherit;
        }
        
        {% if textPosRight == "true" %}
        .product-section-bottom-banner-bg {
            background-position: 0 5.5%;;
        }
        {% else %}
        .product-section-bottom-banner-bg {
            background-position: 100% 5.5%;;
        }
        {% endif %}
    }
    
    
{% endstyle %}