{% assign show = collection.metafields.airf.c_iwt_show %}
{% assign header = collection.metafields.airf.c_iwt_h %}
{% assign scope = collection.metafields.airf %}
{% assign icons = scope.c_iwt_i %}
{% if show == "true" %}
<div class="collection-icons-section">
    <h3>{{ header }}</h3>
    <div class="section-inner collection-icons-container">
        {% for row in icons.rows %}
            {% for row_field in row %}
                {% if row_field.key contains "c_iwt_i_i" %}
                    {% assign icon = scope[row_field.key] %}
                {% endif %}
                {% if row_field.key contains "c_iwt_i_t" %}
                    {% assign text = scope[row_field.key] %}
                {% endif %}
            {% endfor %}
            <div class="collection-icons-item">
                <div class="collection-icons-item-icon">
                    <img src="{{ icon }}" alt="{{ text }}" style="max-width: 88px;">
                </div>
                <div class="collection-icons-item-text">
                    {{ text }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% style %}
    .collection-icons-section {
        padding: 100px 0;
    }
    .collection-icons-container {
        display: flex;
        flex-wrap: wrap;
    }

    .collection-icons-item {
        flex: 1 33%;
        text-align: center;
        padding: 10px;
    }

    .collection-icons-section h3 {
        text-align: center;
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        .collection-icons-item {
            flex: 1 50%;
        }
    }
{% endstyle %}