{% assign h_f_v_h = shop.metafields.airf.h_f_v_h %}
{% assign h_f_v_pb = shop.metafields.airf.h_f_v_pb %}
{% assign h_f_v_pt = shop.metafields.airf.h_f_v_pt %}
{% assign h_f_v_v = shop.metafields.airf.h_f_v_v %}
{% assign h_f_v_pi = shop.metafields.airf.h_f_v_pi %}
{% if h_f_v_v and h_f_v_v != '&nbsp' %}
    <div class="product-section-video">
        <div class="section-inner">
            <div class="product-section-video-bg">
                <div class="video-element" data-video-element>
                    <div class="player paused">
                        <video class="player__video viewer" src="{{ h_f_v_v }}"></video>
                        <div class="video-overlay" style="background-image: url({{ h_f_v_pi }});"></div>
                        <div class="video-heading">
                            <h2>{{ h_f_v_h }}</h2>
                        </div>
                        <div class="video-text">
                            <p>{{ h_f_v_pt }}</p>
                        </div>
                        <div class="player__controls">
                            <div class="progress">
                                <div class="progress__filled"></div>
                            </div>
                            <button class="player__button toggle" title="Play">
                                {{ h_f_v_pb }}
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="played">
                                    <path d="M6.40005 3.2002C5.51605 3.2002 4.80005 3.9162 4.80005 4.8002V19.2002C4.80005 20.0842 5.51605 20.8002 6.40005 20.8002H8.00005C8.88405 20.8002 9.60005 20.0842 9.60005 19.2002V4.8002C9.60005 3.9162 8.88405 3.2002 8.00005 3.2002H6.40005ZM16 3.2002C15.116 3.2002 14.4 3.9162 14.4 4.8002V19.2002C14.4 20.0842 15.116 20.8002 16 20.8002H17.6C18.484 20.8002 19.2 20.0842 19.2 19.2002V4.8002C19.2 3.9162 18.484 3.2002 17.6 3.2002H16Z" fill="white"/>
                                </svg>
                            </button>
                            <div class="volume-wrap">
                                <input type="range" name="volume" class="player__slider" min="0" max="1" step="0.05" value="1">
                                <div class="volume-progress"></div>
                            </div>
                            <button class="player__button toggle fullscreen" title="Full Screen">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 4C2.90694 4 2 4.90694 2 6V18C2 19.0931 2.90694 20 4 20H20C21.0931 20 22 19.0931 22 18V6C22 4.90694 21.0931 4 20 4H4ZM4 6H20V18H4V6ZM5 7V11H7V9H9V7H5ZM15 7V9H17V11H19V7H15ZM5 13V17H9V15H7V13H5ZM17 13V15H15V17H19V13H17Z" fill="white"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .video-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            z-index: 3;
        }
        .video-heading {
            text-align: center;
            max-width: 464px;
            margin: 0 auto 40px;
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }
        .player {
            max-width: 100%;
            max-height: 100%;
            border: 5px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            position: relative;
            font-size: 0;
            overflow: hidden;
        }
        .progress {
            position: absolute;
            bottom: 48px;
            width: 100%;
        }
        button.player__button.toggle.fullscreen {
            position: absolute;
            right: 0;
            bottom: 12px;
        }
        input.player__slider {
            width: 100px;
            position: absolute;
            left: -5px;
            bottom: 9px;
        }
        .volume-wrap .volume-progress {
            display: block;
            position: absolute;
            left: 0px;
            bottom: 22px;
            width: 100px;
            height: 4px;
            background-color: #fff;
            border-radius: 8px;
        }

        /* This css is only applied when fullscreen is active. */

        .player.fullscreen {
            max-width: none;
            max-height: none;
            width: 100%;
            height: 100%;
            background-color: black;
        }

        .player.fullscreen video {
            width: 100%;
            height: auto;
        }

        .player__video {
            max-width: 100%;
            max-height: 100%;

            /* These are the actual dimensions of the video. Avoid the
            awkward element resize after the video loads. */
            width: 100%;
            height: 100%;
        }



        @keyframes spin {
            from  { transform: rotate(0deg); }
            to    { transform: rotate(359deg); }
        }

        .player__button {
            background: none;
            border: 0;
            line-height: 1;
            color: white;
            text-align: center;
            outline: 0;
            padding: 0;
            cursor: pointer;
            max-width: 50px;
        }

        .player__button:focus {
            border-color: #ffc600;
        }

        .player__slider {
            width: 10px;
            height: 30px;
        }

        .player__controls {
            display: flex;
            position: absolute;
            height: 100%;
            bottom: 0;
            width: 100%;
            transition: all .3s;
            flex-wrap: wrap;
            width: calc(100% - 30px);
            left: 15px;
        }
        .player__button.toggle:not(.fullscreen){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .player:hover .player__controls,
        .player.paused .player__controls
        {
            transform: translateY(0);
        }

        .player:hover .progress,
        .player.paused .progress
        {
            height: 15px;
        }

        .player__controls > * {
            flex: 1;
        }

        .progress {
            flex: 10;
            position: relative;
            display: flex;
            flex-basis: 100%;
            height: 5px;
            transition: height 0.3s;
            background: rgba(0, 0, 0, 0.5);
            cursor: ew-resize;
        }

        .progress__filled {
            width: 50%;
            flex: 0;
            flex-basis: 0%;
            height: 8px;
            background: #F7FB4E;
            border-radius: 8px;
        }

        .player__slider {
            position: relative;
        }

        /* unholy css to style input type="range" */

        input[type=range] {
            -webkit-appearance: none;
            background: transparent;
            width: 100%;
            margin: 0 5px;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
            border: 0.2px solid rgba(1, 1, 1, 0);
            height: 4px;
            background: #C9C5C550;
            border-radius: 8px;
        }

        input[type=range]::-webkit-slider-thumb {
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -3px;
            width: 8px;
            height: 8px;
            background: #F7FB4E;
            border-radius: 8px;
        }

        input[type=range]:focus::-wefbkit-slider-runnable-track {
            background: #fff;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
            background: #ffffff;
            border-radius: 1.3px;
            border: 0.2px solid rgba(1, 1, 1, 0);
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
            height: 15px;
            width: 15px;
            border-radius: 50px;
            background: #ffc600;
            cursor: pointer;
        }
        .player.paused .video-overlay,.player.paused .video-heading,.player.paused .player__controls{
            z-index: 3;
        }
        .player:not(.paused) .video-overlay,.player:not(.paused) .video-heading{
            z-index: -1;
        }
        .player.paused .player__controls{
            height: 100%;
        }
        .player:not(.paused) .player__controls{
            height: auto;
        }
        .player:not(.paused) input.player__slider {
            width: 100px;
            z-index: 1;
        }
        .player:not(.paused) .player__button.toggle:not(.fullscreen) {
            position: absolute;
            top: auto;
            left: 50%;
            transform: translateX(-50%);
            bottom: 12px;
        }
        .video-overlay:before {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }
        .player.paused button.player__button.toggle:before {
            display: block;
            content: 'Play Video';
            position: absolute;
            width: 140px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            left: 50%;
            transform: translateX(-50%);
            bottom: -40px;
        }
        .player.paused .progress,.player.paused input.player__slider,.player.paused button.player__button.toggle.fullscreen,.player.paused .volume-wrap{
            display: none;
        }
        .player:not(.paused) .progress{
            display: flex;
            height: 8px;

            background: #C4C4C4;
            border-radius: 8px;
        }
        .player:not(.paused) input.player__slider,.player:not(.paused) button.player__button.toggle.fullscreen,.player:not(.paused) .volume-wrap{
            display: block;
        }
        .player.paused button.player__button.toggle {
            /* padding: 12px; */
            border-radius: 50%;
            background: #fff;
            width: 80px;
            height: 80px;
            display: inline-block;
            max-width: 80px;
        }
        button.player__button.toggle:not(.playing) svg.played {
            display: none;
        }
        button.player__button.toggle.playing svg.played {
            display: block;
        }
        button.player__button.toggle.playing svg:not(.played){
            display: none;
        }
    </style>
    <script>
        /* Get our elements. */
        const player = document.querySelector('.player');
        const video = player.querySelector('.viewer');
        const progress = player.querySelector('.progress');
        const progressBar = player.querySelector('.progress__filled');
        const toggle = player.querySelector('.toggle');
        const skipButtons = player.querySelectorAll('[data-skip]');
        const ranges = player.querySelectorAll('.player__slider');
        const fullscreen = player.querySelector('.fullscreen');

        let isFullScreen = false;

        /* Build our functions */
        function togglePlay() {
            const action = video.paused ? 'play' : 'pause';
            video[action]();
        }

        function updatePlayIcon() {
            toggle.classList.toggle('playing');
            player.classList.toggle('paused');
            if (toggle.classList.contains('playing')) {
                toggle.setAttribute('title', 'Pause');
            } else {
                toggle.setAttribute('title', 'Play');
            }
        }

        function skip() {
            video.currentTime += parseFloat(this.dataset.skip);
        }

        function handleRangeUpdate() {
            video[this.name] = this.value;
            $('.volume-progress').css('width',this.value*100+'px');
        }

        function handleProgress() {
            const percent = (video.currentTime / video.duration) * 100;
            progressBar.style.flexBasis = percent + '%';
        }

        function scrub(e) {
            const seconds = (e.offsetX / progress.offsetWidth) * video.duration;
            video.currentTime = seconds;
        }

        function toggleFullScreen(e) {
            if (isFullScreen) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                } else {
                    console.error('Unable to find a fullscreen exit method.');
                }
                console.log('removing fullscreen class');
            } else {
                if (player.requestFullscreen) {
                    player.requestFullscreen(); // standard
                } else if (player.webkitRequestFullscreen) {
                    player.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                } else if (player.mozRequestFullScreen) {
                    player.mozRequestFullScreen();
                } else if (player.msRequestFullscreen) {
                    player.msRequestFullscreen();
                } else {
                    console.error('Unable to find a fullscreen request method');
                }
            }
        }

        function toggleFullScreenClasses() {
            player.classList.toggle('fullscreen');
            isFullScreen = !isFullScreen;
        }

        /* Hook up the event listeners */
        video.addEventListener('click', togglePlay);
        toggle.addEventListener('click', togglePlay);

        video.addEventListener('play', updatePlayIcon);
        video.addEventListener('pause', updatePlayIcon);
        video.addEventListener('timeupdate', handleProgress);

        skipButtons.forEach(button => button.addEventListener('click', skip));

        ranges.forEach(range => range.addEventListener('change', handleRangeUpdate));
        // ranges.forEach(range => range.addEventListener('mousemove', handleRangeUpdate));

        let mousedown = false;
        progress.addEventListener('click', scrub);
        progress.addEventListener('mousemove', (e) => mousedown && scrub(e));
        progress.addEventListener('mousedown', () => mousedown = true);
        progress.addEventListener('mouseup', () => mousedown = false);

        fullscreen.addEventListener('click', toggleFullScreen);

        document.addEventListener('fullscreenchange', toggleFullScreenClasses);
        document.addEventListener('mozfullscreenchange', toggleFullScreenClasses);
        document.addEventListener('webkitfullscreenchange', toggleFullScreenClasses);
        document.addEventListener('msfullscreenchange', toggleFullScreenClasses);

    </script>

{% endif %}

