<section class="section {{ css_class }} container">
    <h3 class="custom-testimonials-header">{{block.settings.header}}</h3>
    <div class="column custom-testimonials">
        {% if block.settings.show_ambassador_1 %}
        <div class="testimonial">
            {% include 'image-element', image: block.settings.ambassador_1_image, alt: block.settings.ambassador_1_image.alt %}
            <h5 class="testimonial-header">{{block.settings.ambassador_1_title}}</h5>
            <p>{{block.settings.ambassador_1_text}}</p>
        </div>
        {% endif %}
        {% if block.settings.show_ambassador_2 %}
        <div class="testimonial">
            {% include 'image-element', image: block.settings.ambassador_2_image, alt: block.settings.ambassador_2_image.alt %}
            <h5 class="testimonial-header">{{block.settings.ambassador_2_title}}</h5>
            <p>{{block.settings.ambassador_2_text}}</p>
        </div>
        {% endif %}
        {% if block.settings.show_ambassador_3 %}
        <div class="testimonial">
            {% include 'image-element', image: block.settings.ambassador_3_image, alt: block.settings.ambassador_3_image.alt %}
            <h5 class="testimonial-header">{{block.settings.ambassador_3_title}}</h5>
            <p>{{block.settings.ambassador_3_text}}</p>
        </div>
        {% endif %}
    </div>
</section>

{% style %}
    .custom-testimonials-header {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 100px 10px 40px;
    }

    .custom-testimonials {
        display: flex;
        padding-bottom: 100px;
        width: 100%;
        justify-content: space-between;
    }

    .custom-testimonials .testimonial {
        width: 250px;
        margin-bottom: 0px;
    }

    .custom-testimonials .testimonial > img {
        object-fit: cover;
    }

    .custom-testimonials .testimonial > p {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }

    .testimonial-header {
        margin-top: 16px;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    @media (max-width: 767px) {
        .custom-testimonials {
            flex-direction: column;
            justify-content: center;
            padding-bottom: 100px !important;
            align-items: center;
        }

        .custom-testimonials-header {
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 2px;
            margin: 100px 24px 40px;
        }

        .custom-testimonials .testimonial {
            margin-bottom: 30px;
        }
    }
{% endstyle %}