{% if section.settings.show-trust-badges %}
<div class="trust-badge-section">
    <section class="section">
        <div class="columns trust-badge-container">
            {% for block in section.blocks %}
                <div class="trust-badge">
                    <div class="trust-badge-icon">
                        {% if block.settings.trust-badge-icon != blank %}
                            <img src="{{ block.settings.trust-badge-icon | asset_url }}"/>
                        {% else %}
                            <img src="{{ 'image' | placeholder_svg_tag: 'placeholder-svg' | img_url }}"/>
                        {% endif %}
                    </div>
                    <div class="trust-badge-text">
                        {{ block.settings.trust-badge-text }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endif %}

{% style %}
    .trust-badge-section {
        background-color: {{ section.settings.trust-badges-background-color }};
        color: {{ section.settings.trust-badges-color }};
        width: 100%;
        border-top: 1px solid #D0D1D1;
    }
    .trust-badge-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: {{ section.settings.trust-badge-font-size }}px;
        line-height: {{ section.settings.trust-badge-line-height }}px;
        text-transform: uppercase;
        padding: 0;
        flex-wrap: wrap;
    }

    .trust-badge {
        flex: 1 0 21%;
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .trust-badge-icon {
        margin: 14px 16px 14px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
    }

    .trust-badge-icon > img,
    .mobile-trust-badge-icon > img,
    .trust-badge-icon > svg,
    .mobile-trust-badge-icon > svg {
        width: 100%;
    }

    .trust-badge-text {
        margin: auto 0px;
        width: 100%;
    }

    @media (max-width: 1170px) {
        .trust-badge {
            flex: 1 0 45%;
            width: auto;
        }
    }

    @media (max-width: 767px) {
        .trust-badge {
            flex: 1;
            width: 100%;
        }
        .trust-badge-container {
            flex-direction: column;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: {{ section.settings.mobile-trust-badge-font-size }}px;
            line-height: {{ section.settings.mobile-trust-badge-line-height }}px;
            align-items: flex-start;
        }
        .trust-badge-icon {
            height: 50px;
            width: 50px;
            margin: 8px 16px;
        }
    }
{% endstyle %}