{% assign p_f_it_e = product.metafields.airf.p_f_it_e %}
{% if p_f_it_e == "true" %}
{% else %}
    {% assign scope = product.metafields.airf %}
    {% assign p_f_it = scope.p_f_it %}
    {% if p_f_it and p_f_it != blank %}
    {% else %}
        {% assign scope = shop.metafields.airf %}
        {% assign p_f_it = scope.p_f_it %}
    {% endif %}
    <div class="product-section-info-tabs">
      {% for row in p_f_it.rows %}
          {% for row_field in row %}
              {% if row_field.key contains "p_f_it_t" %}
                  {% assign p_f_it_t = scope[row_field.key] %}
              {% endif %}
              {% if row_field.key contains "p_f_it_c" %}
                  {% assign p_f_it_c = scope[row_field.key] %}
              {% endif %}
          {% endfor %}
        <div class="product-section-info-tab">
          <div class="product-section-info-tab-title" data-tab="{{row[0].key}}">
            <p>
              <span>{{p_f_it_t}}</span>
              <span class="closed">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13 11H22V13H13V22H11V13H2V11H11V2H13V11Z" fill="#3656A3"/>
                </svg>

              </span>
              <span class="opened">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22 11V13H2V11H22Z" fill="#3656A3"/>
                </svg>
              </span>
            </p>
          </div>
          <div class="product-section-info-tab-content" data-tab="{{row[0].key}}">
            {{p_f_it_c}}
          </div>
        </div>
      {% endfor %}
    </div>
{% endif %}