
<div class="product-section-reviews">
    <div class="section-inner">
        {% comment %}Start automatically added Judge.me widget{% endcomment %}
        {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
        {% comment %}End automatically added Judge.me widget{% endcomment %}
    </div>
</div>
