<section id="sticky-bar-section">
    <div class="section-inner">
        <div class="sticky-bar">
            <div class="sticky-bar-product-title">
                <h2>{{ product.title }}</h2>
            </div>
            <div class="sticky-bar-product-info">
                <div class="sticky-bar-product-button">
                    {% form 'product', product %}

                        {% if product.variants.size > 1 %}

                        {% else %}
                            <input type="hidden" name="id" value="{{ variant.id }}" />
                        {% endif %}

                        {% if product.variants.size > 1 %}
                            {% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
                                <div class="swatch_options collection_swatches">
                                    {% for option in product.options %}
                                        {% include 'product__swatch', option: option %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if product.available %}
                            {% if settings.display_inventory_left %}
                                <p class="items_left">
                                    {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
                                        {% capture items_left_text %}
                                            {% if variant.inventory_quantity == 1 %}
                                                {{ 'products.product.items_left_count.one' | t }}
                                            {% else %}
                                                {{ 'products.product.items_left_count.other' | t }}
                                            {% endif %}
                                        {% endcapture %}
                                        {% if variant.inventory_quantity <= settings.inventory_threshold %}
                                            {{ variant.inventory_quantity }} {{ items_left_text }}
                                        {% endif %}
                                    {% endif %}
                                </p>
                            {% endif %}

                            <div class="purchase-details {% if settings.display_product_quantity %}has-quantity-box{% endif %}">

                                {% comment %} Error message for add to cart action {% endcomment %}
                                <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
                                    {% if settings.cart_action == 'reload_page' %}
                                        <input type="hidden" name="return_to" value="back" />
                                        {% elsif settings.cart_action == 'redirect_checkout' %}
                                        <input type="hidden" name="return_to" value="/checkout" />
                                    {% endif %}

                                    {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
                                    <button type="{% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %}button{% else %}submit{% endif %}" name="add" class="button {% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %} ajax-submit {% endif %}action_button button--add-to-cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }} data-add-to-cart-trigger>
                                        {% if  settings.button_cart_icon != blank and settings.button_cart_icon_position == 'left' %}
                                            {% include settings.icon, name: settings.button_cart_icon, icon_class: 'icon--cart' %}
                                        {% endif %}
                                        <span class="text">Buy Now</span>
                                        {% if  settings.button_cart_icon != blank and settings.button_cart_icon_position == 'right' %}
                                            {% include settings.icon, name: settings.button_cart_icon, icon_class: 'icon--cart icon--right' %}
                                        {% endif %}
                                        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
                                            <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        {% else %}
                            <button class="sold-out" disabled="disabled">Sold Out</button>
                        {% endif %}
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    section#sticky-bar-section {
        position: fixed;
        top: -97px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #171B2B20;
        background: #fff;
        transition: top 300ms ease;
        z-index: 99;
    }
    section#sticky-bar-section.showed{
        top: 0px!important;
    }
    .section-inner {
        max-width: 1200px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .sticky-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
    .sticky-bar-product-title h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase;
        color: #171B2B;
        cursor: pointer;
    }
    .sticky-bar-product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sticky-bar-product-price {
        margin-right: 40px;
    }
    .sticky-bar-product-price span.current_price {
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
    }
    .sticky-bar-product-button .purchase-details__buttons button{
        background: #f7fb4e;
        padding: 12px 64px;
        border-radius: 80px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #171e29;
        text-transform: none;
    }
    .sticky-bar-product-button .purchase-details__buttons button:hover{
        background: #DBDE47;
        color: #fff;
    }
    .sticky-bar-product-button button.sold-out{
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #3656A3;
        background: #f3f3f3;
        padding: 20px 103px;
        border: 0;
        border-radius: 80px;
        text-transform: uppercase;
    }
    @media (max-width: 992px){
        .sticky-bar {
            flex-direction: column;
        }
        .sticky-bar-product-title {
            margin-bottom: 8px;
        }
        .sticky-bar-product-title h2{
            font-size: 14px;
            line-height: 24px;
        }
        section#sticky-bar-section{
            top: initial;
            transition: bottom 300ms ease;
            bottom: -83px;
            border-bottom: none;
            position: fixed;
            border-top: 1px solid #000;
        }
        .sticky-bar-product-price{
            display: none;
        }
        section#sticky-bar-section.showed {
            bottom: 0!important;
            top: initial!important;
        }
        .sticky-bar-product-button .purchase-details__buttons{
            margin-top: 0;
        }
        .sticky-bar-product-info{
            width: 100%;
        }
        .sticky-bar-product-button {
            width: 100%;
        }
        .sticky-bar-product-button .purchase-details__buttons{
            width: 100%;
        }
        .sticky-bar-product-button .purchase-details__buttons button{
            background: #f7fb4e;
            padding: 8px 64px;
            border-radius: 80px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #171e29;
            text-transform: uppercase;
            height: auto;
            min-height: auto;
            width: 100%;
            max-width: 100%;
        }
    }
</style>
<script>
    jQuery(document).ready(function ($) {
        if ($(window).width() < 993){
            $('#sticky-bar-section').css('bottom', '-'+$('#sticky-bar-section').height()+2+'px');
            $('#sticky-bar-section').css('top', 'initial');
        }else{
            $('#sticky-bar-section').css('top', '-'+$('#sticky-bar-section').height()+2+'px');
            $('#sticky-bar-section').css('bottom', 'initial');
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() > ($('.product-form-container .shopify-product-form').offset().top) + $('.product-form-container .shopify-product-form').height() + 50 ){
                if (!$("#sticky-bar-section").hasClass('showed')){
                    $('#sticky-bar-section').addClass('showed');
                }
            }else{
                if ($("#sticky-bar-section").hasClass('showed')){
                    $('#sticky-bar-section').removeClass('showed');
                }
            }
        })
        $('.sticky-bar-product-title h2').click(function () {
            $("body, html").stop().animate({scrollTop:0}, 500, 'swing', function() {
            });
        });
    });
</script>