{% assign p_f_faq_e = product.metafields.airf.p_f_faq_e %}
{% if p_f_faq_e == 'true' %}
    <div class="product-section-faq">
        <div class="section-inner">
            {% assign p_f_faq_h = product.metafields.airf.p_f_faq_h %}
            {% if p_f_faq_h and p_f_faq_h != '&nbsp' %}
                <div class="faq-heading">
                    <h2>{{ p_f_faq_h }}</h2>
                </div>
            {% endif %}
            <div class="faq-content">
                {% assign scope = product.metafields.airf %}
                {% assign p_f_faq_l = scope.p_f_faq_l %}
                {% if p_f_faq_l and p_f_faq_l != blank %}
                    <div class="faq-list">
                        {% for row in p_f_faq_l.rows %}
                            {% for row_field in row %}
                                {% if row_field.key contains "p_f_faq_q" %}
                                    {% assign p_f_faq_q = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "p_f_faq_a" %}
                                    {% assign p_f_faq_a = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "p_f_faq_o" %}
                                    {% assign p_f_faq_o = scope[row_field.key] %}
                                {% endif %}
                            {% endfor %}
                            <div class="faq-item">
                                <div class="faq-item-question" data-status="{% if  p_f_faq_o == true %}opened{% else %}closed{% endif %}">
                                    <h3>{{ p_f_faq_q }}</h3>
                                    <div class="svgs">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="opened">
                                            <path d="M3 12C3 11.448 3.448 11 4 11H20C20.552 11 21 11.448 21 12C21 12.552 20.552 13 20 13H4C3.448 13 3 12.552 3 12Z" fill="#171B2B"/>
                                        </svg>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="closed">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13 11H22V13H13V22H11V13H2V11H11V2H13V11Z" fill="#171B2B"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="faq-item-answer">
                                    {{ p_f_faq_a }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
