{% assign p_f_ti_e = product.metafields.airf.p_f_ti_e %}
{% if p_f_ti_e == "true" %}
    true
{% else %}
    {% assign scope = product.metafields.airf %}
    {% assign p_f_ti = scope.p_f_ti %}
    {% if p_f_ti and p_f_ti != blank %}
    {% else %}
        {% assign scope = shop.metafields.airf %}
        {% assign p_f_ti = scope.p_f_ti %}
    {% endif %}
    <div class="product-section-top-icons">
        <div class="section-inner">
            <div class="top-icons-list">
                {% for row in p_f_ti.rows %}
                    <div class="top-icons-item">
                        {% for row_field in row %}
                            {% if row_field.key contains "p_f_ti_i" %}
                                {% assign p_f_ti_i = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "p_f_ti_t" %}
                                {% assign p_f_ti_t = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="top-icons-item-icon">
                            <img src="{{ p_f_ti_i }}" alt="{{ p_f_ti_t }}">
                        </div>
                        <div class="top-icons-item-text">
                            <p>{{ p_f_ti_t }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}





    

