{% assign p_f_s_e = product.metafields.airf.p_f_s_e %}
{% if p_f_s_e == "true" %}
{% else %}
    <div class="product-section-fbt">
        <div class="section-inner">
            <div class="fbt-heading">
                <h2>Frequently bought together</h2>
            </div>
            <div class="fbt-content">
                <div class="fbt-content-left">
                    <div class="fbt-list">
                        {% assign p_f_fbt_fp = product.metafields.airf['p_f_fbt_fp'] %}
                        {% if p_f_fbt_fp and p_f_fbt_fp != blank %}
                        {% else %}
                            {% assign p_f_fbt_fp = shop.metafields.airf['p_f_fbt_fp'] %}
                        {% endif %}
                        {% assign counter = 1 %}
                        {% assign separator = "###" %}
                        {% assign p_f_fbt_fp_related_handles = p_f_fbt_fp | split: separator %}
                        {% for handle in p_f_fbt_fp_related_handles %}

                            {% assign related_product = all_products[handle] %}
                            {% assign variant = related_product.selected_or_first_available_variant %}
                            <div class="fbt-item active" data-variant="{{ related_product.first_available_variant.id }}" data-price="{{ related_product.first_available_variant.price | at_least: 0 }}" data-sale="{{ related_product.first_available_variant.compare_at_price | at_least: 0 }}">
                                <a href="{{ related_product.url }}" target="_blank">
                                    <img src="{{ related_product.featured_image | img_url: "master" }}" alt="{{ related_product.title }}">
                                </a>
                                <div class="fbt-price">
                                    <strong>
                                        {{ variant.price | money }}
                                        {% if variant.price != variant.compare_at_price %}
                                            <span>{{ variant.compare_at_price | money }}</span>
                                        {% endif %}
                                    </strong>
                                </div>
                            </div>
                            {% assign counter = counter | plus: 1 %}

                        {% endfor %}
                    </div>
                </div>
                <div class="fbt-content-right">
                    <div class="fbt-checkboxes">
                        {% if p_f_fbt_fp and p_f_fbt_fp != blank %}
                            {% assign counter = 1 %}
                            {% assign separator = "###" %}
                            {% assign p_f_fbt_fp_related_handles = p_f_fbt_fp | split: separator %}
                            {% for handle in p_f_fbt_fp_related_handles %}

                                {% assign related_product = all_products[handle] %}
                                <div class="fbt-checkbox active" data-variant="{{ related_product.first_available_variant.id }}" data-price="{{ related_product.first_available_variant.price | at_least: 0 }}" data-sale="{{ related_product.first_available_variant.compare_at_price | at_least: 0 }}">
                                    <div class="fbt-name">
                                        <span>
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.3896 3.19457C14.251 3.1987 14.1195 3.25661 14.0229 3.35603L5.86666 11.5123L2.51041 8.15603C2.46127 8.10484 2.40241 8.06397 2.33727 8.03582C2.27214 8.00767 2.20204 7.9928 2.13108 7.99208C2.06013 7.99135 1.98974 8.0048 1.92405 8.03162C1.85835 8.05844 1.79867 8.0981 1.7485 8.14827C1.69832 8.19845 1.65866 8.25813 1.63184 8.32383C1.60502 8.38952 1.59158 8.45991 1.5923 8.53086C1.59302 8.60182 1.60789 8.67191 1.63604 8.73705C1.6642 8.80219 1.70506 8.86105 1.75625 8.91019L5.48958 12.6435C5.5896 12.7435 5.72524 12.7997 5.86666 12.7997C6.00809 12.7997 6.14372 12.7435 6.24375 12.6435L14.7771 4.11019C14.8541 4.03528 14.9068 3.93883 14.9281 3.83349C14.9494 3.72814 14.9384 3.61882 14.8965 3.51984C14.8546 3.42086 14.7838 3.33684 14.6934 3.2788C14.6029 3.22076 14.497 3.1914 14.3896 3.19457Z" fill="white"/>
                                            </svg>
                                        </span>
                                        <strong>{{ related_product.title }}</strong>
                                    </div>
                                    <div class="fbt-price">
                                        <strong>{{ variant.price | money }}<span>{{ variant.compare_at_price | money }}</span></strong>
                                    </div>
                                </div>
                                {% assign counter = counter | plus: 1 %}

                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="fbt-price-summary">
                        <p class="total">Total price:</p>
                        <p class="sale">$159.99</p>
                        <p class="was">$259.99</p>
                        <p class="save" style="display: none;">Save 60% ($100)</p>
                    </div>
                    <div class="fbt-add">
                        <a href="#" name="add" class="" data-label="Add to cart" data-ajax-cart-trigger="">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}




    

