    <div class="product-section-browsing">
        <div class="section-inner">
            <div class="browsing-heading">
                <h2>Browsing History</h2>
            </div>
            <div class="browsing-content">
                <div class="browsing-list">
                </div>
            </div>
        </div>
    </div>





    

