{% assign p_f_bb_e = product.metafields.airf.p_f_bb_e %}
{% if p_f_bb_e == "true" %}
{% else %}
    {% assign p_f_bb_bc = product.metafields.airf.p_f_bb_bc %}
    {% if p_f_bb_bc and p_f_bb_bc != '&nbsp' %}
    {% else %}
        {% assign p_f_bb_bc = shop.metafields.airf.p_f_bb_bc %}
    {% endif %}
    {% assign p_f_bb_i = product.metafields.airf.p_f_bb_i %}
    {% if p_f_bb_i and p_f_bb_i != '&nbsp' %}
    {% else %}
        {% assign p_f_bb_i = shop.metafields.airf.p_f_bb_i %}
    {% endif %}
    {% assign p_f_bb_h = product.metafields.airf.p_f_bb_h %}
    {% if p_f_bb_h and p_f_bb_h != '&nbsp' %}
    {% else %}
        {% assign p_f_bb_h = shop.metafields.airf.p_f_bb_h %}
    {% endif %}
    {% assign p_f_bb_sh = product.metafields.airf.p_f_bb_sh %}
    {% if p_f_bb_sh and p_f_bb_sh != '&nbsp' %}
    {% else %}
        {% assign p_f_bb_sh = shop.metafields.airf.p_f_bb_sh %}
    {% endif %}
    {% assign p_f_bb_bl = product.metafields.airf.p_f_bb_bl %}
    {% if p_f_bb_bl and p_f_bb_bl != '&nbsp' %}
    {% else %}
        {% assign p_f_bb_bl = shop.metafields.airf.p_f_bb_bl %}
    {% endif %}
    {% assign p_f_bb_bt = product.metafields.airf.p_f_bb_bt %}
    {% if p_f_bb_bt and p_f_bb_bt != '&nbsp' %}
    {% else %}
        {% assign p_f_bb_bt = shop.metafields.airf.p_f_bb_bt %}
    {% endif %}
    <div class="product-section-bottom-banner" style="background-color: {{ p_f_bb_bc }};">
        <div class="product-section-bottom-banner-bg" style="background-image: url('{{ p_f_bb_i }}');"></div>
        <div class="section-inner">
            <div class="bottom-banner-content">
                <div class="bottom-banner-heading">
                    <h2>{{ p_f_bb_h }}</h2>
                    {% if p_f_bb_sh and p_f_bb_sh != '&nbsp' %}
                        <h3>{{ p_f_bb_sh }}</h3>
                    {% endif %}
                </div>
                {% if p_f_bb_bl and p_f_bb_bl != '&nbsp' %}
                    <div class="bottom-banner-cta">
                        <a href="{{ p_f_bb_bl }}">{{ p_f_bb_bt }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
