{% assign p_f_d_e = product.metafields.airf.p_f_d_e %}
{% if p_f_d_e == "true" %}
{% else %}
    {% assign p_f_d_i = product.metafields.airf.p_f_d_i %}
    {% if p_f_d_i and p_f_d_i != '&nbsp' %}
    {% else %}
        {% assign p_f_d_i = shop.metafields.airf.p_f_d_i %}
    {% endif %}
    {% assign p_f_d_t = product.metafields.airf.p_f_d_t %}
    {% if p_f_d_t and p_f_d_t != '&nbsp' %}
    {% else %}
        {% assign p_f_d_t = shop.metafields.airf.p_f_d_t %}
    {% endif %}
    <div class="product-section-delivery">
      {% if p_f_d_i and p_f_d_i != '&nbsp' %}
        <div class="delivery-icon">
          {{ p_f_d_i }}
        </div>
      {% endif %}
      {% if p_f_d_t and p_f_d_t != '&nbsp' %}
        <div class="delivery-text">
          <p>{{ p_f_d_t }}</p>
        </div>
      {% endif %}
    </div>
{% endif %}





    

