{% assign p_f_mb_e = product.metafields.airf.p_f_mb_e %}
{% if p_f_mb_e == "true" %}
{% else %}

    {% assign p_f_mb_h = product.metafields.airf.p_f_mb_h %}
    {% if p_f_mb_h and p_f_mb_h != '&nbsp' %}
    {% else %}
        {% assign p_f_mb_h = shop.metafields.airf.p_f_mb_h %}
    {% endif %}
    {% assign p_f_mb_t = product.metafields.airf.p_f_mb_t %}
    {% if p_f_mb_t and p_f_mb_t != '&nbsp' %}
    {% else %}
        {% assign p_f_mb_t = shop.metafields.airf.p_f_mb_t %}
    {% endif %}
    {% assign p_f_mb_i = product.metafields.airf.p_f_mb_i %}
    {% if p_f_mb_i and p_f_mb_i != '&nbsp' %}
    {% else %}
        {% assign p_f_mb_i = shop.metafields.airf.p_f_mb_i %}
    {% endif %}
    {% assign p_f_mb_im = product.metafields.airf.p_f_mb_im %}
    {% if p_f_mb_im and p_f_mb_im != '&nbsp' %}
    {% else %}
        {% assign p_f_mb_im = shop.metafields.airf.p_f_mb_im %}
    {% endif %}
    {% assign p_f_mb_bl = product.metafields.airf.p_f_mb_bl %}
    {% if p_f_mb_bl and p_f_mb_bl != '&nbsp' %}
    {% else %}
        {% assign p_f_mb_bl = shop.metafields.airf.p_f_mb_bl %}
    {% endif %}
    <div class="product-section-middle-banner" style="background-image: url('{{ p_f_mb_i }}');">
        <div class="overlay"></div>
        <div class="section-inner">
            <div class="middle-banner-mobile-image show-mobile">
                <img src="{{ p_f_mb_im }}" alt="{{ p_f_mb_h }}">
            </div>
            <div class="middle-banner-content">
                <div class="middle-banner-heading">
                    <h2>{{ p_f_mb_h }}</h2>
                </div>
                <div class="middle-banner-text">
                    {{ p_f_mb_t }}
                </div>
            </div>
        </div>
        {% if p_f_mb_bl and p_f_mb_bl != '&nbsp' %}
            <a href="{{ p_f_mb_bl }}"></a>
        {% endif %}
    </div>
{% endif %}
