{% assign p_f_tb_e = product.metafields.airf.p_f_tb_e %}
{% if p_f_tb_e == "true" %}
{% else %}
    {% assign p_f_tb_h = product.metafields.airf.p_f_tb_h %}
    {% if p_f_tb_h and p_f_tb_h != '&nbsp' %}
    {% else %}
        {% assign p_f_tb_h = shop.metafields.airf.p_f_tb_h %}
    {% endif %}
    {% assign p_f_tb_t = product.metafields.airf.p_f_tb_t %}
    {% if p_f_tb_t and p_f_tb_t != '&nbsp' %}
    {% else %}
        {% assign p_f_tb_t = shop.metafields.airf.p_f_tb_t %}
    {% endif %}
    {% assign p_f_tb_c_t = product.metafields.airf.p_f_tb_c_t %}
    {% if p_f_tb_c_t and p_f_tb_c_t != '&nbsp' %}
    {% else %}
        {% assign p_f_tb_c_t = shop.metafields.airf.p_f_tb_c_t %}
    {% endif %}
    {% assign p_f_tb_c_l = product.metafields.airf.p_f_tb_c_l %}
    {% comment %}
    {% if p_f_tb_c_l and p_f_tb_c_l != '&nbsp' %}
    {% else %}
        {% assign p_f_tb_c_l = shop.metafields.airf.p_f_tb_c_l %}
    {% endif %}
    {% endcomment %}
    {% assign p_f_tb_i = product.metafields.airf.p_f_tb_i %}
    {% if p_f_tb_i and p_f_tb_i != '&nbsp' %}
    {% else %}
        {% assign p_f_tb_i = shop.metafields.airf.p_f_tb_i %}
    {% endif %}
    {% assign p_f_tb_im = product.metafields.airf.p_f_tb_im %}
    {% if p_f_tb_im and p_f_tb_im != '&nbsp' %}
    {% else %}
        {% assign p_f_tb_im = shop.metafields.airf.p_f_tb_im %}
    {% endif %}
    {% assign p_f_tb_bl = product.metafields.airf.p_f_tb_bl %}
    {% if p_f_tb_bl and p_f_tb_bl != '&nbsp' %}
    {% else %}
        {% assign p_f_tb_bl = shop.metafields.airf.p_f_tb_bl %}
    {% endif %}
    <div class="product-section-top-banner" style="background-image: url('{{ p_f_tb_i }}');">
        <div class="section-inner">
            <div class="top-banner-mobile-image show-mobile">
                <img src="{{ p_f_tb_im }}" alt="{{ p_f_tb_h }}">
            </div>
            <div class="top-banner-content">
                <div class="top-banner-heading">
                    <h2>{{ p_f_tb_h }}</h2>
                </div>
                <div class="top-banner-text">
                    <p>{{ p_f_tb_t }}</p>
                </div>
                {% if p_f_tb_c_l and p_f_tb_c_l != '&nbsp' %}
                    <div class="top-banner-cta">
                        <a href="{{ p_f_tb_c_l }}">{{ p_f_tb_c_t }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if p_f_tb_bl and p_f_tb_bl != '&nbsp' %}
            <a href="{{ p_f_tb_bl }}"></a>
        {% endif %}
    </div>
{% endif %}