{% assign p_f_bf_e = product.metafields.airf.p_f_bf_e %}
{% if p_f_bf_e == "true" %}
{% else %}
    {% assign scope = product.metafields.airf %}
    {% assign p_f_bf = scope.p_f_bf %}
    {% if p_f_bf and p_f_bf != blank %}
    {% else %}
        {% assign scope = shop.metafields.airf %}
        {% assign p_f_bf = scope.p_f_bf %}
    {% endif %}
    <div class="product-section-benefits">
        <div class="section-inner">
            <div class="benefits-list">
                {% for row in p_f_bf.rows %}
                    <div class="benefits-item">
                        {% for row_field in row %}
                            {% if row_field.key contains "p_f_bf_i" %}
                                {% assign p_f_bf_i = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "p_f_bf_h" %}
                                {% assign p_f_bf_h = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "p_f_bf_t" %}
                                {% assign p_f_bf_t = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="benefits-item-image">
                            <img src="{{ p_f_bf_i }}" alt="{{ p_f_bf_h }}">
                        </div>
                        <div class="benefits-item-heading">
                            <h3>{{ p_f_bf_h }}</h3>
                        </div>
                        <div class="benefits-item-text">
                            <p>{{ p_f_bf_t }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}