{% assign p_f_s_e = product.metafields.airf.p_f_s_e %}
{% if p_f_s_e == "true" %}
{% else %}
    <div class="product-section-similar">
        <div class="section-inner">
            <div class="similar-heading">
                <h2>Similar products</h2>
            </div>
            <div class="similar-content">
                <div class="similar-list">
                    {% assign p_f_s_pl = product.metafields.airf['p_f_s_pl'] %}
                    {% if p_f_s_pl and p_f_s_pl != blank %}
                    {% else %}
                        {% assign p_f_s_pl = shop.metafields.airf['p_f_s_pl'] %}
                    {% endif %}
                        {% assign separator = "###" %}
                        {% assign p_f_s_pl_related_handles = p_f_s_pl | split: separator %}
                        {% for handle in p_f_s_pl_related_handles %}
                            {% assign related_product = all_products[handle] %}
                            {% assign variant = related_product.selected_or_first_available_variant %}
                            <div class="similar-item" data-variant="{{ related_product.first_available_variant.id }}" data-price="{{ related_product.first_available_variant.price }}" data-sale="{{ related_product.first_available_variant.compare_at_price }}">
                                <div class="similar-item-image">
                                    <a href="{{ related_product.url }}">
                                        <img src="{{ related_product.featured_image | img_url: "master" }}" alt="{{ related_product.title }}">
                                    </a>
                                </div>
                                <div class="similar-item-title">
                                    <a href="{{ related_product.url }}">
                                        {{ related_product.title }}
                                    </a>
                                </div>
                                <div class="similar-item-price">
                                    <p>{{ related_product.price | money }}<u>{{ related_product.compare_at_price | money }}</u></p>
                                </div>
                                <div class="similar-item-add" >
                                    <a href="#" data-variant="{{ variant.id }}" data-ajax-cart-trigger="">Add to Cart</a>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}




    

