{% assign p_f_ch_e = product.metafields.airf.p_f_ch_e %}
{% if p_f_ch_e == "true" %}
{% else %}
    {% assign scope = product.metafields.airf %}
    {% assign p_f_ch = scope.p_f_ch %}
    {% if p_f_ch and p_f_ch != blank %}
    {% else %}
        {% assign scope = shop.metafields.airf %}
        {% assign p_f_ch = scope.p_f_ch %}
    {% endif %}
    <div class="product-section-chess">
        <div class="section-inner">
            <div class="chess-list">
                {% for row in p_f_ch.rows %}
                    <div class="chess-item">
                        {% for row_field in row %}
                            {% if row_field.key contains "p_f_ch_h" %}
                                {% assign p_f_ch_h = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "p_f_ch_t" %}
                                {% assign p_f_ch_t = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "p_f_ch_i" %}
                                {% assign p_f_ch_i = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="chess-item-image">
                            <img src="{{ p_f_ch_i }}" alt="{{ p_f_ch_h }}">
                        </div>
                        <div class="chess-item-content">
                            <div class="chess-item-heading">
                                <h3>{{ p_f_ch_h }}</h3>
                            </div>
                            <div class="chess-item-text">
                                <p>{{ p_f_ch_t }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}





    

