{% assign b_f_bb_e = article.metafields.airf.b_f_bb_e %}
{% if b_f_bb_e == "true" %}
  {% assign b_f_rpl = article.metafields.airf.b_f_rpl %}
  {% if b_f_rpl == "true" %}
  {% else %}
  <div class="product-section-similar">
    <div class="section-inner">
      <div class="similar-heading">
        <h2>Products you may like</h2>
      </div>
      <div class="similar-content">
        <div class="similar-list">
          {% assign b_f_pl = article.metafields.airf['b_f_pl'] %}
          {% assign separator = "###" %}
          {% assign b_f_pl_related_handles = b_f_pl | split: separator %}
          {% for handle in b_f_pl_related_handles %}
            {% assign related_product = all_products[handle] %}
            {% assign variant = related_product.selected_or_first_available_variant %}
            <div class="similar-item" data-variant="{{ variant.id }}" data-price="{{ variant.price }}" data-sale="{{ variant.compare_at_price }}">
              <div class="similar-item-image">
                <a href="{{ related_product.url }}">
                  <img src="{{ related_product.featured_image | img_url: "master" }}" alt="{{ related_product.title }}">
                </a>
              </div>
              <div class="similar-item-title">
                <a href="{{ related_product.url }}">
                  {{ related_product.title }}
                </a>
              </div>
              <div class="similar-item-price">
                <p>{{ related_product.price | money }}</p>
              </div>
              <div class="similar-item-add">
                {% if related_product.available %}
                <a href="#" data-variant="{{ variant.id }}">Add to Cart</a>
                {% else %}
                <button class="sold-out" disabled="disabled">Sold Out</button>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
      {% assign b_g_bb_i = article.metafields.airf.b_g_bb_i %}
      {% assign b_f_bb_h = article.metafields.airf.b_f_bb_h %}
      {% assign b_f_bb_sh = article.metafields.airf.b_f_bb_sh %}
      {% assign b_f_bb_bt = article.metafields.airf.b_f_bb_bt %}
      {% assign b_f_bb_bl = article.metafields.airf.b_f_bb_bl %}
      {% assign b_f_bb_bc = article.metafields.airf.b_f_bb_bc %}
  {% assign b_f_rbb = article.metafields.airf.b_f_rbb %}
  {% if b_f_rbb == "true" %}
  {% else %}
  <div class="product-section-bottom-banner" style="background-color: {{ b_f_bb_bc }}; {% if b_f_bb_h and b_f_bb_h != '&nbsp' and b_f_bb_sh and b_f_bb_sh != '&nbsp'%}{% else %} margin: 0; {% endif %}">
    <div class="product-section-bottom-banner-bg" style="background-image: url('{{ b_g_bb_i }}');"></div>
    <div class="section-inner">
      <div class="bottom-banner-content" {% if b_f_bb_h and b_f_bb_h != '&nbsp' and b_f_bb_sh and b_f_bb_sh != '&nbsp'%}{% else %} style="padding: 0;" {% endif %}>
        <div class="bottom-banner-heading">
          {% if b_f_bb_h and b_f_bb_h != '&nbsp' %}
            <h2>{{ b_f_bb_h }}</h2>
          {% endif %}
          {% if b_f_bb_sh and b_f_bb_sh != '&nbsp' %}
            <h3>{{ b_f_bb_sh }}</h3>
          {% endif %}
        </div>
        {% if b_f_bb_bl and b_f_bb_bl != '&nbsp' %}
          <div class="bottom-banner-cta">
            <a href="{{ b_f_bb_bl }}">{{ b_f_bb_bt }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <style>
    .product-section-bottom-banner-bg{
      background-size: auto;
      background-repeat: no-repeat;
      background-position: right bottom;
    }
    .bottom-banner-heading h2{
      color: #fff;
    }
    .bottom-banner-cta a {
      border-color: #fff;
      color: #fff;
      border-radius: 80px;
    }
    .bottom-banner-content{
      padding: 108px 0;
    }
  </style>
{% endif %}






