{% comment %}
** Header 2 Centered - static **
- Static section
{% endcomment %}

{% assign id = section.id %}
{% comment %} Logo {% endcomment %}
{% assign logo = section.settings.logo %}
{% comment %} Overlay {% endcomment %}
{% assign overlay_logo = section.settings.overlay_logo %}
{% assign text = section.settings.text_color %}
{% comment %} Advanced {% endcomment %}
{% assign width = section.settings.width %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign header_alpha = settings.header_background | color_extract: 'alpha' | floor %}
{% assign overlay_alpha = section.settings.overlay_background | color_extract: 'alpha' %}
{% assign overlay_link_alpha = section.settings.overlay_link_color | color_extract: 'alpha' | floor %}
{% assign overlay_link_hover_alpha = section.settings.overlay_link_hover_color | color_extract: 'alpha' | floor  %}

{% comment %} Opacity level {% endcomment %}
{% if header_alpha != 0 %}
  {% assign sticky_background_alpha = section.settings.sticky_background_opacity | divided_by: 100.00 %}
  {% assign overlay_background_alpha = section.settings.overlay_background_opacity | divided_by: 100.00 %}
{% endif %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}
  .header__logo,
  .logo__content {
    width: {{ section.settings.logo_width }}px;
  }

  .is-sticky .header__logo {
    width: {{ section.settings.scroll_logo_width }}px;
  }

  {%- if section.settings.enable_overlay -%}
    [data-enable_overlay="true"] .header {
      background-color: {%- if overlay_alpha != 0 -%}{{ section.settings.overlay_background | color_modify: 'alpha', overlay_background_alpha }}{%- else -%}{{ settings.header_background | color_modify: 'alpha', overlay_background_alpha }}{%- endif -%};
    }

    [data-enable_overlay="true"] .header__logo,
    .overlay-logo__content {
      width: {{ section.settings.overlay_logo_width }}px;
    }

    [data-enable_overlay="true"] .header__link,
    [data-enable_overlay="true"] .select select {
      color: {%- if overlay_link_alpha != 0 -%}{{ section.settings.overlay_link_color }}{%- endif -%};
      fill: {%- if overlay_link_alpha != 0 -%}{{ section.settings.overlay_link_color }}{%- endif -%};
      {% if section.settings.show_text_shadow %}
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
      {% endif %}
    }

    [data-enable_overlay="true"] .header__link:hover,
    [data-enable_overlay="true"] .header__link.is-active,
    [data-enable_overlay="true"] .select select:hover {
      color: {%- if overlay_link_hover_alpha != 0 -%}{{ section.settings.overlay_link_hover_color }}{%- endif -%};
      fill: {%- if overlay_link_hover_alpha != 0 -%}{{ section.settings.overlay_link_hover_color }}{%- endif -%};
    }
  {%- endif -%}
  {%- if section.settings.enable_sticky -%}
    .header-sticky-wrapper.is-sticky .header {
      background-color: {{ settings.header_background | color_modify: 'alpha', sticky_background_alpha }};
    }

    #mobile-header-sticky-wrapper.is-sticky .mobile-header {
      background-color: {{ settings.header_background | color_modify: 'alpha', sticky_background_alpha }};
    }

    .mobile-menu--opened #mobile-header-sticky-wrapper.is-sticky .mobile-header {
      background-color: {{ settings.header_background }};
    }
  {%- endif -%}
{%- endcapture -%}

{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }

  {% unless template == 'index' %}
  .header, .header--vertical, .mobile-header, .mobile-menu {
    background-color: {{ settings.header_background_inverted }} !important;
  }
  .has-mega-menu:hover > .header__link,
  .has-mega-menu:hover > .header__link > a,
  .header--vertical,
  .header--vertical .sidebar-block__heading,
  .header--vertical a,
  .header__link,
  .header__link > a,
  .header__currency-dropdown select,
  .mobile-menu a,
  .mobile-menu__item select,
  .header__logo-text,
  h1.header__logo-text > a,
  .header__logo-text:hover,
  h1.header__logo-text > a:hover {
    color: {{ settings.header_link_color_inverted }};
  }

  .header__link,
  .header__link > a,
  .mobile-menu__toggle-icon .icon {
    fill: {{ settings.header_link_color_inverted }};
  }

  .header--vertical a:hover,
  .header__link > a:hover,
  .header__link > a.is-active,
  .header__link:hover,
  .header__link.is-active,
  .has-dropdown:hover > .header__link,
  .has-dropdown:hover > .header__link > a,
  .has-mega-menu:hover > .header__link,
  .has-mega-menu:hover > .header__link > a,
  .header__currency-dropdown select:hover,
  .mobile-menu a:hover,
  .mobile-menu__item select:hover {
    color: {{ settings.header_link_hover_color_inverted }};
  }

  .header__link:hover,
  .header__link.is-active,
  .header__link > a:hover,
  .header__link > a.is-active {
    fill: {{ settings.header_link_hover_color_inverted }};
  }

  .header.header--centered,
  .mobile-header {
    border-bottom: 1px solid #EAEAEA;
  }
  {% endunless %}
  .header-cart a.header__link {
    display: flex !important;
    flex-direction: row-reverse;
  }

  .header-cart a.header__link .header-cart__icon {
    margin-left: 5px;
  }

  {% include 'css-loop', css: section_css, id: id %}
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% include 'header__structured-data' %}

{% comment %} HTML markup {% endcomment %}
<div class="is-relative {{ css_class }}" data-enable_overlay="{{ section.settings.enable_overlay }}" data-enable_sticky="{{ section.settings.enable_sticky }}">
  <header id="header" class="header header--centered dropdown-style-{{ settings.dropdown_style }} box-shadow-{{ settings.show_dropdown_shadow }}">
    <div class="header__inner-content">
      <section class="section
                      is-width-{{ width }}">
        <nav class="navbar is-align-center header-layout--{{ section.settings.logo_position }}" role="navigation" aria-label="main navigation">

          <div class="header__link header__menu-toggle is-medium">
            <div class="header__open-menu">
              {% include settings.icon, name: 'menu' %}
            </div>
            <div class="header__close-menu">
              {% include settings.icon, name: 'x' %}
            </div>
          </div>

          {% capture logo %}
            {% comment %} Logo {% endcomment %}
            <div class="header__brand is-align-center is-justify-space-between is-flex text-align-center">
              {% if section.settings.enable_overlay and section.settings.overlay_logo != blank %}
                {% if template contains 'index' %}
                  <h1 class="visuallyhidden">{{ shop.name }}</h1>
                {% endif %}
                <div class="overlay-logo__content">
                  <a class="header__logo header__link overlay-logo" href="{{ shop.url }}" title="{{ shop.name }}">
                    {% include 'image-element', image: section.settings.overlay_logo, alt: section.settings.overlay_logo.alt, additional_classes: 'overlay-logo', back_to_basics: true %}
                  </a>
                </div>
                <div class="logo__content">
                  {% if template contains 'index' %}
                    {% if section.settings.logo != blank %}
                      <a class="header__logo header__link primary-logo" href="{{ shop.url }}" title="{{ shop.name }}">
                        {% include 'image-element', image: section.settings.logo, alt: section.settings.logo.alt, additional_classes: 'primary-logo' %}
                      </a>
                    {% endif %}
                  {% else %}
                    {% if section.settings.logo_inverted != blank %}
                      <a class="header__logo header__link primary-logo" href="{{ shop.url }}" title="{{ shop.name }}">
                        {% include 'image-element', image: section.settings.logo_inverted, alt: section.settings.logo_inverted.alt, additional_classes: 'primary-logo' %}
                      </a>
                    {% endif %}
                  {% endif %}
                </div>
              {% elsif section.settings.logo != blank %}
                {% if template contains 'index' %}
                  <h1 class="visuallyhidden">{{ shop.name }}</h1>
                {% endif %}
                <a class="header__logo header__link primary-logo" href="{{ shop.url }}" title="{{ shop.name }}">
                  {% if template contains 'index' %}
                    {% include 'image-element', image: section.settings.logo, alt: section.settings.logo.alt, additional_classes: 'primary-logo' %}
                  {% else %}
                    {% include 'image-element', image: section.settings.logo_inverted, alt: section.settings.logo_inverted.alt, additional_classes: 'primary-logo' %}
                  {% endif %}
                </a>
              {% else %}
                {% if template contains 'index' %}
                  <h1 class="header__logo-text">
                    <a class="header__link primary-brand" href="{{ shop.url }}">
                      {{ shop.name }}
                    </a>
                  </h1>
                {% else %}
                  <a class="header__logo-text header__link primary-brand" href="{{ shop.url }}">
                    {{ shop.name }}
                  </a>
                {% endif %}
              {% endif %}
            </div>
          {% endcapture %}

          {% assign main_menu = linklists[section.settings.main_linklist] %}

          {% if section.settings.logo_position == 'above' %}

            {{ logo }}

            {% comment %} Menu {% endcomment %}
            <div class="header__menu">
              <div class="header__menu-items
                          header__dropdown--{{ settings.dropdown_position }}
                          is-flex
                          is-flex-wrap
                          {% if section.settings.menu_spacing == 'default' %}
                            is-justify-center
                          {% elsif section.settings.menu_spacing == 'minimum' %}
                            is-justify-space-around
                          {% elsif section.settings.menu_spacing == 'maximum' %}
                            is-justify-space-between
                          {% endif %}">
                {% for link in main_menu.links %}
                  {% if link.links == blank %}
                    <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}" data-navlink-handle="{{ link.title | handleize }}">
                      <a href="{{ link.url }}" class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                        {{ link.title }}
                      </a>
                    </div>
                  {% else %}
                    <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}" aria-haspopup="true" aria-expanded="false" data-navlink-handle="{{ link.title | handleize }}">
                      <a class="navbar-link header__link {% if link.active or link.child_active %}is-active{% endif %}"
                        {% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %} href="{{ link.url }}" {% endunless %}>
                        {{ link.title }}
                      </a>

                      {% include 'header__dropdown-menu' %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

          {% elsif section.settings.logo_position == 'between' %}

            {% assign remainder = main_menu.links.size | modulo: 2 %}
            {% assign menu_breakpoint = main_menu.links.size | divided_by: 2 | plus: remainder %}

            {% comment %} Menu (first half) {% endcomment %}
            <div class="header__menu header__menu--1">
              <div class="header__menu-items
                          is-flex
                          is-flex-wrap
                          {% if section.settings.menu_spacing == 'default' %}
                            is-justify-end
                          {% elsif section.settings.menu_spacing == 'minimum' %}
                            is-justify-center
                          {% elsif section.settings.menu_spacing == 'maximum' %}
                            is-justify-start
                          {% endif %}
                            ">
                {% for link in main_menu.links %}
                  {% if forloop.index0 < menu_breakpoint %}
                    {% if link.links == blank %}
                      <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}" data-navlink-handle="{{ link.title | handleize }}">
                        <a href="{{ link.url }}" class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                          {{ link.title }}
                        </a>
                      </div>
                    {% else %}
                      <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}" aria-haspopup="true" aria-expanded="false" data-navlink-handle="{{ link.title | handleize }}">
                        <a class="navbar-link header__link {% if link.active or link.child_active %}active{% endif %}"
                          {% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %} href="{{ link.url }}" {% endunless %}>
                          {{ link.title }}
                        </a>

                        {% include 'header__dropdown-menu' %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            {% comment %} Logo {% endcomment %}
            {{ logo }}

            {% comment %} Menu (second half) {% endcomment %}
            <div class="header__menu header__menu--2">
              <div class="header__menu-items
                          is-flex
                          is-flex-wrap
                          {% if section.settings.menu_spacing == 'default' %}
                            is-justify-start
                          {% elsif section.settings.menu_spacing == 'minimum' %}
                            is-justify-center
                          {% elsif section.settings.menu_spacing == 'maximum' %}
                            is-justify-end
                          {% endif %}">
                {% for link in main_menu.links %}
                  {% if forloop.index0 >= menu_breakpoint %}
                    {% if link.links == blank %}
                      <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}" data-navlink-handle="{{ link.title | handleize }}">
                        <a href="{{ link.url }}" class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                          {{ link.title }}
                        </a>
                      </div>
                    {% else %}
                      <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}" aria-haspopup="true" aria-expanded="false" data-navlink-handle="{{ link.title | handleize }}">
                        <a class="navbar-link header__link {% if link.active or link.child_active %}active{% endif %}"
                          {% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %} href="{{ link.url }}" {% endunless %}>
                          {{ link.title }}
                        </a>

                        {% include 'header__dropdown-menu' %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                {% include 'header__action-icons' %}
              </div>
            </div>
          {% endif %}

        </nav>

        {% comment %} Only visible on sticky scroll {% endcomment %}
        {% include 'header__action-icons', header_icon_class: 'header__icons--sticky' %}

      </section>
    </div>
    <nav class="sticky-menu-wrapper">
      {% comment %} Sticky menu {% endcomment %}
      <div class="sticky-header__menu">
        <div class="header__menu-items
                    is-flex
                    is-flex-wrap
                    {% if section.settings.logo_position == 'above' %}
                      {% if section.settings.menu_spacing == 'default' %}
                        is-justify-center
                      {% elsif section.settings.menu_spacing == 'minimum' %}
                        is-justify-space-around
                      {% elsif section.settings.menu_spacing == 'maximum' %}
                        is-justify-space-between
                      {% endif %}
                    {% elsif section.settings.logo_position == 'between' %}
                      is-justify-center
                    {% endif %}">
          {% for link in main_menu.links %}
            {% if link.links == blank %}
              <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}" data-navlink-handle="{{ link.title | handleize }}">
                <a href="{{ link.url }}" class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                  {{ link.title }}
                </a>
              </div>
            {% else %}
              <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}" aria-haspopup="true" aria-expanded="false" data-navlink-handle="{{ link.title | handleize }}">
                <a class="navbar-link header__link {% if link.active or link.child_active %}is-active{% endif %}"
                  {% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %} href="{{ link.url }}" {% endunless %}>
                  {{ link.title }}
                </a>

                {% include 'header__dropdown-menu', prefix: 'sticky-' %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </nav>
  </header>

  {% include 'mobile-header' %}

  {% if settings.search_display_style == 'overlay' %}
    {% include 'search-overlay' %}
  {% endif %}

</div>

{% comment %}JavaScript{% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "enable_overlay": {{ section.settings.enable_overlay | json }},
    "enable_sticky": {{ section.settings.enable_sticky | json }},
    "header_layout": {{ settings.header_layout | json }}
  }
</script>
<script src="{{ 'z__jsHeader.js' | asset_url }}"></script>

{% comment %}Schema{% endcomment %}
{% schema %}

{
  "name": "Header",
  "class": "header--centered jsHeader header-section",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "600 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_inverted",
      "label": "Logo (Inverted)",
      "info": "600 x 200px recommended"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Width",
      "step": 5,
      "min": 80,
      "max": 300,
      "default": 200,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "above",
          "label": "Above menu"
        },
        {
          "value": "between",
          "label": "Between menu"
        }
      ],
      "default": "between"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_spacing",
      "label": "Menu spacing",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "minimum",
          "label": "Minimum"
        },
        {
          "value": "maximum",
          "label": "Maximum"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "paragraph",
      "content": "Header is overlaid directly on images. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022225073/#header-overlay)"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Enable overlay"
    },
    {
      "type": "checkbox",
      "id": "show_text_shadow",
      "label": "Show text shadow",
      "default": false
    },
    {
      "type": "color",
      "id": "overlay_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "overlay_background_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 80,
      "step": 10,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlay_link_color",
      "label": "Links",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "overlay_link_hover_color",
      "label": "Links hover",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "image_picker",
      "id": "overlay_logo",
      "label": "Overlay logo",
      "info": "600 x 200px recommended"
    },
    {
      "type": "range",
      "id": "overlay_logo_width",
      "label": "Overlay logo width",
      "step": 5,
      "min": 30,
      "max": 300,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Sticky header"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky on scroll"
    },
    {
      "type": "range",
      "id": "sticky_background_opacity",
      "label": "Background opacity",
      "min": 10,
      "max": 100,
      "step": 10,
      "default": 50,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "scroll_logo_width",
      "label": "Logo width",
      "step": 5,
      "min": 30,
      "max": 300,
      "default": 200,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}

{% endschema %}
