{% comment %}
** Page about - custom view **
- Page template
- Uses blocks
{% endcomment %}

{% assign id = section.id %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
    #shopify-section-{{ id }} .one-half.medium-down--one-whole.column {
        display: flex;
        align-items: center;
    }

    {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

<section class="about__page {{ css_class }}" data-check-for-order="true">
    {% if section.blocks.size > 0 %}
        <div class="is-flex is-flex-wrap is-justify-center">
            {% for block in section.blocks %}
                {% if block.type == "contact_form" %}
                    {% include 'include-contact-form', type: 'block' %}

                {% elsif block.type == 'image_with_text' %}
                    {% include 'include-one-image-with-text', type: 'block' %}

                {% elsif block.type == 'ambassadors' %}
                    {% include 'include-custom-testimonials', type: 'block' %}

                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</section>

{% schema %}
{
    "name": "Page sections",
    "class": "page-details details",
    "max_blocks": 20,
    "settings": [
        {
            "type": "header",
            "content": "Advanced"
        },
        {
            "type": "paragraph",
            "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
        },
        {
            "type": "text",
            "id": "css_class",
            "label": "CSS Class"
        },
        {
            "type": "textarea",
            "id": "custom_css",
            "label": "Custom CSS"
        }
    ],
    "blocks": [
        {
            "type": "ambassadors",
            "name": "Ambassadors",
            "settings": [
                {
                    "type": "text",
                    "id": "header",
                    "label": "Header",
                    "default": "Brand Ambassadors"
                },
                {
                    "type": "header",
                    "content": "Ambassador 1"
                },
                {
                    "type": "checkbox",
                    "id": "show_ambassador_1",
                    "label": "Show",
                    "default": true
                },
                {
                    "type": "image_picker",
                    "id": "ambassador_1_image",
                    "label": "Image",
                    "info": "250 x 250px recommended"
                },
                {
                    "type": "text",
                    "id": "ambassador_1_title",
                    "label": "Title",
                    "default": "Ambassador 1"
                },
                {
                    "type": "text",
                    "id": "ambassador_1_text",
                    "label": "Text",
                    "default": "Enter text here"
                },
                {
                    "type": "header",
                    "content": "Ambassador 2"
                },
                {
                    "type": "checkbox",
                    "id": "show_ambassador_2",
                    "label": "Show",
                    "default": true
                },
                {
                    "type": "image_picker",
                    "id": "ambassador_2_image",
                    "label": "Image",
                    "info": "250 x 250px recommended"
                },
                {
                    "type": "text",
                    "id": "ambassador_2_title",
                    "label": "Title",
                    "default": "Ambassador 2"
                },
                {
                    "type": "text",
                    "id": "ambassador_2_text",
                    "label": "Text",
                    "default": "Enter text here"
                },
                {
                    "type": "header",
                    "content": "Ambassador 3"
                },
                {
                    "type": "checkbox",
                    "id": "show_ambassador_3",
                    "label": "Show",
                    "default": true
                },
                {
                    "type": "image_picker",
                    "id": "ambassador_3_image",
                    "label": "Image",
                    "info": "250 x 250px recommended"
                },
                {
                    "type": "text",
                    "id": "ambassador_3_title",
                    "label": "Title",
                    "default": "Ambassador 3"
                },
                {
                    "type": "text",
                    "id": "ambassador_3_text",
                    "label": "Text",
                    "default": "Enter text here"
                }
            ]
        },
        {
            "type": "image_with_text",
            "name": "Image with text",
            "settings": [
            {
                "type": "header",
                "content": "Image"
            },
            {
                "type": "select",
                "id": "image_position",
                "label": "Image position",
                "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
                ]
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image",
                "info": "1024 x 1024px recommended"
            },
            {
                "type": "select",
                "id": "image_crop",
                "label": "Image cropping",
                "default": "none",
                "info": "Only applied when text area is taller than the image.",
                "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
                ]
            },
            {
                "type": "url",
                "id": "image_link",
                "label": "Link"
            },
            {
                "type": "header",
                "content": "Text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Heading text here"
            },
            {
                "type": "select",
                "id": "heading_size",
                "label": "Base size",
                "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "regular",
                    "label": "Regular"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
                ],
                "default": "regular"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text",
                "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button label",
                "default": "View all"
            },
            {
                "type": "url",
                "id": "link",
                "label": "Button link"
            },
            {
                "type": "select",
                "id": "button_style",
                "label": "Button style",
                "options": [
                {
                    "value": "button--primary",
                    "label": "Primary"
                },
                {
                    "value": "button--secondary",
                    "label": "Secondary"
                },
                {
                    "value": "button--link-style",
                    "label": "Link style"
                }
                ],
                "default": "button--primary"
            },
            {
                "type": "header",
                "content": "Text layout"
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "Alignment",
                "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
                ],
                "default": "left"
            },
            {
                "type": "select",
                "id": "vertical_position",
                "label": "Vertical position",
                "options": [
                {
                    "value": "start",
                    "label": "Top"
                },
                {
                    "value": "center",
                    "label": "Middle"
                },
                {
                    "value": "end",
                    "label": "Bottom"
                }
                ],
                "default": "center"
            },
            {
                "type": "header",
                "content": "Colors"
            },
            {
                "type": "color",
                "id": "background",
                "label": "Background",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "select",
                "id": "width",
                "label": "Width",
                "default": "wide",
                "options": [
                {
                    "value": "standard",
                    "label": "Standard"
                },
                {
                    "value": "wide",
                    "label": "Wide"
                }
                ]
            },
            {
                "type": "checkbox",
                "id": "show_gutter",
                "label": "Show gutter",
                "default": true
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Top spacing",
                "min": 0,
                "max": 80,
                "default": 20,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Bottom spacing",
                "min": 0,
                "max": 80,
                "default": 20,
                "unit": "px"
            },
            {
                "type": "select",
                "id": "animation",
                "label": "Animation",
                "default": "none",
                "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "fadeIn",
                    "label": "Fade in"
                },
                {
                    "value": "fadeInDown",
                    "label": "Fade in down"
                },
                {
                    "value": "fadeInLeft",
                    "label": "Fade in left"
                },
                {
                    "value": "fadeInRight",
                    "label": "Fade in right"
                },
                {
                    "value": "slideInLeft",
                    "label": "Slide in left"
                },
                {
                    "value": "slideInRight",
                    "label": "Slide in right"
                },
                {
                    "value": "zoomIn",
                    "label": "Zoom in"
                }
                ]
            }
            ]
        },
        {
            "name": "Contact form",
            "type": "contact_form",
            "settings": [
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "image_picker",
                    "id": "content_image",
                    "label": "Image",
                    "info": "1000 x 1000px recommended"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Get in touch today"
                },
                {
                    "type": "richtext",
                    "id": "content_text",
                    "label": "Text",
                    "default": "<p>Customize your contact form to suit your business! Add custom fields like a dropdown menu, checkbox, text fields and more, so that you can gather pertinent info from shoppers right from the get-go, to help answer their inquiries more effectively.</p>"
                },
                {
                    "type": "checkbox",
                    "id": "social_enable",
                    "label": "Display social media icons",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "text_alignment",
                    "label": "Text alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "header",
                    "content": "Contact form"
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "Background",
                    "default": "#E5E5E5"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text",
                    "default": "#000000",
                    "info": "Does not apply to placeholders."
                },
                {
                    "type": "select",
                    "id": "form_position",
                    "label": "Form position",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "right"
                },
                {
                    "type": "header",
                    "content": "Layout"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "wide",
                    "options": [
                        {
                            "value": "standard",
                            "label": "Standard"
                        },
                        {
                            "value": "wide",
                            "label": "Wide"
                        }
                    ],
                    "default": "standard"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "label": "Top spacing",
                    "default": 40,
                    "min": 0,
                    "max": 80,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "label": "Bottom spacing",
                    "default": 40,
                    "min": 0,
                    "max": 80,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "animation",
                    "label": "Animation",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "None"
                        },
                        {
                            "value": "fadeIn",
                            "label": "Fade in"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "Fade in down"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "Fade in left"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "Fade in right"
                        },
                        {
                            "value": "slideInLeft",
                            "label": "Slide in left"
                        },
                        {
                            "value": "slideInRight",
                            "label": "Slide in right"
                        }
                    ]
                }
            ]
        }
    ],
    "default": {
        "settings": {
        },
        "blocks": [
            {
                "type": "image_with_text"
            },
            {
                "type": "image_with_text"
            },
            {
                "type": "ambassadors"
            },
            {
                "type": "contact_form"
            }
        ]
    }
}
{% endschema %}