{% comment %}
** Product - main content area **
- Product template
{% endcomment %}

{% assign id = section.id %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  .section__wrapper {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }

  .section--has-sidebar-option.has-sidebar-enabled {
    {% if width == 'wide' -%}
      width: 100%;
      max-width: 95%;
    {%- endif %}
  }

  .section--has-sidebar-option.has-sidebar-disabled {
    width: 100%;
    max-width: none;
  }

  {% if section.settings.product_breadcrumb == false %}
    .breadcrumb__container {
      display: none;
    }
  {% endif %}

  @media (max-width: 767px) {
    .jdgm-prev-badge {
      display: flex !important;
      justify-content: center;
    }
    .jdgm-prev-badge__stars {
      margin-right: 5px;
    }
  }

  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% assign collection_handles = product.collections | map: 'handle' %}
{% assign variant = product.selected_or_first_available_variant %}
{% assign product_tags = product.tags | join: ' ' %}

{% include 'product__structured-data' %}

{% comment %} HTML markup {% endcomment %}
{% include 'product-section-sticky' %}

<section class="section is-width-{{ width }} {{ css_class }}">
  <div class="product-{{ product.id }}">
    <div class="product_section
                js-product_section
                container
                is-justify-space-between
                has-padding-bottom
                {% if section.settings.product_images_position == 'right' %}
                  is-flex-row-reverse
                {% endif %}"
                data-rv-handle="{{ product.handle }}">

      <div class="product__images
                  one-half
                  column
                  medium-down--one-whole">
        {% include 'product__images' %}
      </div>

      <div class="product__information
                  has-product-sticker
                  one-half
                  column
                  medium-down--one-whole">


        {% comment %} Review stars {% endcomment %}
        {% if section.settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}

        {% comment %} Vendor {% endcomment %}
        {% if section.settings.display_vendor %}
          <p class="vendor">
            <span class="vendor">{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% comment %} Sku {% endcomment %}
        {% if variant.sku != blank and section.settings.display_sku %}
          <p class="sku">
            {{ variant.sku }}
          </p>
        {% endif %}

        <div>

          {% comment %} Name {% endcomment %}
          <h1 class="product_name title">{{ product.title }}</h1>
          
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
          
          

          {% for tag in product.tags %}
            {% if tag contains 'meta-size-chart-' %}
              {% assign meta-size-chart = true %}
            {% endif %}
          {% endfor %}

          {% comment %} Size chart Mobile {% endcomment %}
          {% if settings.size_chart != blank or meta-size-chart %}
            <a href="javascript:;" class="product__size-chart size-chart--medium-down" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline">{{ 'products.product.size_chart' | t }} {% include settings.icon, name: 'right-caret' %}</a>
            {% include 'popup-size-chart', product_id: product.id %}
          {% endif %}

          {% comment %} Price {% endcomment %}
          <p class="modal_price subtitle">
            {% if collection_handles contains 'coming-soon' %}
              {% if settings.stickers_enabled == false %}
                {{ 'collections.general.coming_soon' | t }}
              {% endif %}
            {% else %}

              {% comment %} Sold out {% endcomment %}
              <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>

              {% comment %} Current price {% endcomment %}
              <span class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current_price {% if product.available == false %}hidden{% endif %}">
                  {% if variant.price > 0 %}
                    <span class="money">{{ variant.price | money }}</span>
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </span>
              </span>

              {% comment %} Compare at (original) price {% endcomment %}
              <span class="was-price">
                {% if variant.price < variant.compare_at_price and variant.available %}
                  <span class="money">{{ variant.compare_at_price | money }}</span>
                {% endif %}
              </span>

              {% comment %} Size chart {% endcomment %}
              {% if settings.size_chart != blank or meta-size-chart %}
                <a href="javascript:;" class="product__size-chart medium-down--hidden" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline">{{ 'products.product.size_chart' | t }} {% include settings.icon, name: 'right-caret' %}</a>
                {% include 'popup-size-chart', product_id: product.id %}
              {% endif %}

              {% comment %} Savings {% endcomment %}
              {% if section.settings.display_savings %}
                <span class="sale savings">
                  {% if variant.price < variant.compare_at_price and variant.available %}
                    {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }}</span>)
                  {% endif %}
                </span>
              {% endif %}
            {% endif %}
          </p>
        </div>
        
        {% render 'product-section-delivery' %}

        {% comment %} Description - top {% endcomment %}
        {% if section.settings.product_description_position == "top" %}
          {% if product.description != blank %}
            <div class="description content has-padding-top">
              {{ product.description | split: '<!-- split -->' | first }}
            </div>
          {% endif %}
        {% endif %}

        {% comment %} Purchase form {% endcomment %}
        <div class="product-form-container has-padding-top">

          {% comment %} Notify form {% endcomment %}
          {% include 'product__notify-me-form' %}

          {% comment %} Product form {% endcomment %}
          {% unless collection_handles contains 'coming-soon' %}
            {% include 'product__form' with 'product', type: 'product' %}
          {% endunless %}
        </div>
		
        {% render 'product-section-tabs' %}
        
        {% comment %} Description - bottom {% endcomment %}
        {% if section.settings.product_description_position == "bottom" %}
          {% if product.description != blank %}
            <div class="description content bottom has-padding-top">
              {{ product.description | split: '<!-- split -->' | first }}
            </div>
          {% endif %}
        {% endif %}

        {% comment %} Collections, type, tags {% endcomment %}
        {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
          <div class="product__classification-links has-padding-top">
            {% if section.settings.display_collections %}
              <p class="product__collections-list tags">
                <span class="product__classification-title">{{ 'products.product.collections' | t }}:</span>
                {% for col in product.collections %}
                  <span class="tag tag--{{ settings.tag_style }}">
                    <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
                  </span>
                {% endfor %}
              </p>
            {% endif %}

            {% if section.settings.display_type %}
              <p class="product__type-list tags">
                <span class="product__classification-title">{{ 'products.product.product_types' | t }}:</span>
                <span class="tag tag--{{ settings.tag_style }}">{{ product.type | link_to_type }}</span>
              </p>
            {% endif %}

            {% if section.settings.display_tags and product.tags.size > 0 %}
              <p class="product__tags-list tags">
                <span class="product__classification-title">{{ 'products.product.tags' | t }}:</span>
                {% for tag in product.tags %}
                  {% unless tag contains 'meta-' %}
                    <span class="tag tag--{{ settings.tag_style }}">
                      <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>
                    </span>
                  {% endunless %}
                {% endfor %}
              </p>
            {% endif %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>











<script>

  function removeDuplicates( arr, prop ) {
    var obj = {};
    for ( var i = 0, len = arr.length; i < len; i++ ){
      if(!obj[arr[i][prop]]) obj[arr[i][prop]] = arr[i];
    }
    var newArr = [];
    for ( var key in obj ) newArr.push(obj[key]);
    return newArr;
  }

  var product_item = { id : {{product.id}}, url : '{{product.url}}', title : '{{product.title}}', image : '{{product.featured_image | img_url: "master"}}'};

  if (localStorage.getItem('browsing_history') === null){
    var arr = [product_item];
    var json_str = JSON.stringify(arr);
    localStorage.setItem('browsing_history', json_str);
  }else{
    var json_str = localStorage.getItem('browsing_history');
    var arr = JSON.parse(json_str);
    arr.unshift(product_item);
    arr = removeDuplicates(arr, 'id');
    var json_str = JSON.stringify(arr);
    localStorage.setItem('browsing_history', json_str);
  }
</script>
{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "gallery_arrows": {{ section.settings.gallery_arrows | json }},
    "thumbnail_arrows": {{ section.settings.gallery_arrows | json }},
    "enable_zoom": {{ section.settings.enable_zoom | json }},
    "enable_product_lightbox": {{ section.settings.enable_product_lightbox | json }},
    "enable_thumbnail_slider": {{ section.settings.enable_thumbnail_slider | json }},
    "slideshow_speed": {{ section.settings.slideshow_speed | json }},
    "slideshow_transition": {{ section.settings.slideshow_transition | json }},
    "thumbnails_enabled": {{ section.settings.display_thumbnails | json }},
    "thumbnail_position": {{ section.settings.thumbnail_position | json }},
    "product_media_amount": {{ product.media.size }},
    "template": "classic"
  }
</script>
<script src="{{ 'z__jsProduct.js' | asset_url }}"></script>

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
    {% assign models = product.media | where: 'media_type', 'model' | json %}
    ShopifyXR('addModels', {{ models }});
</script>
{% endif %}

{% if section.blocks.size > 0 %}

  <div class="product__blocks dynamic-blocks is-flex is-flex-wrap is-justify-center" data-check-for-order="true">
    {% for block in section.blocks %}
      <div id="shopify-section-{{ block.id }}" {{ block.shopify_attributes }} class="shopify-section product__block block__{{ block.type | downcase | replace: '_', '-' }}
      ">
        {% if block.type == 'icons' %}
          {% include 'product-section-top-icons' %}
        {% endif %}
        {% if block.type == 'top_banner' %}
          {% include 'product-section-top-banner' %}
        {% endif %}
        {% if block.type == 'benefits' %}
          {% include 'product-section-benefits' %}
        {% endif %}
        {% if block.type == 'middle_banner' %}
          {% include 'product-section-middle-banner' %}
        {% endif %}
        {% if block.type == 'chess' %}
          {% include 'product-section-chess' %}
        {% endif %}
        {% if block.type == 'video' %}
          {% include 'product-section-video' %}
        {% endif %}
        {% if block.type == 'reviews' %}
          {% include 'product-section-reviews' %}
        {% endif %}
        {% if block.type == 'fbt' %}
          {% include 'product-section-fbt' %}
        {% endif %}
        {% if block.type == 'similar' %}
          {% include 'product-section-similar' %}
        {% endif %}
        {% if block.type == 'bottom_banner' %}
          {% include 'product-section-bottom-banner' %}
        {% endif %}
        {% if block.type == 'browsing' %}
          {% include 'product-section-browsing' %}
        {% endif %}
        {% if block.type == 'faq' %}
          {% include 'product-section-faq' %}
        {% endif %}
      </div>

    {% endfor %}
  </div>
{% endif %}

{% schema %}

{
  "name": "Product",
  "max_blocks": 12,
  "class": "product-template product-main has-sidebar-option jsProduct",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "display_thumbnails",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "info": "Applies to desktop only.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Magnify on hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        }
      ],
      "default": "bottom-thumbnails"
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_shopify_product_badges",
      "label": "Show star rating",
      "info": "Reviews app must be enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360008549274#section2)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "Dynamic Checkout Button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ],
      "default": "standard"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "name": "Icons",
      "type": "icons",
      "settings": []
    },
  {
  "name": "Top Banner",
  "type": "top_banner",
  "settings": []
  },
  {
  "name": "Benefits",
  "type": "benefits",
  "settings": []
  },
  {
  "name": "Middle Banner",
  "type": "middle_banner",
  "settings": []
  },
  {
  "name": "Chess",
  "type": "chess",
  "settings": []
  },
  {
  "name": "Video",
  "type": "video",
  "settings": []
  },
  {
  "name": "Reviews",
  "type": "reviews",
  "settings": []
  },
  {
  "name": "Frequently Both",
  "type": "fbt",
  "settings": []
  },
    {
    "name": "FAQ",
    "type": "faq",
    "settings": []
    },
  {
  "name": "Similar",
  "type": "similar",
  "settings": []
  },
  {
  "name": "Bottom Banner",
  "type": "bottom_banner",
  "settings": []
  },
  {
  "name": "Browsing History",
  "type": "browsing",
  "settings": []
  }
  ],
  "default": {
    "settings": {

    },
    "blocks": [
      {
        "type": "icons",
        "settings": {
        }
      },
  {
  "type": "top_banner",
  "settings": {
  }
  },
  {
  "type": "benefits",
  "settings": {
  }
  },
  {
  "type": "middle_banner",
  "settings": {
  }
  },
  {
  "type": "chess",
  "settings": {
  }
  },
  {
  "type": "video",
  "settings": {
  }
  },
  {
  "type": "reviews",
  "settings": {
  }
  },
  {
  "type": "fbt",
  "settings": {
  }
  },
  {
  "type": "similar",
  "settings": {
  }
  },
  {
  "type": "bottom_banner",
  "settings": {
  }
  },
  {
  "type": "browsing",
  "settings": {
  }
  }
    ]
  }
}

{% endschema %}
