{% include 'include-trust-badges' %}

{% schema %}
{
    "name": "Trust Badges",
    "max_blocks": 4,
    "settings": [
        {
            "id": "show-trust-badges",
            "type": "checkbox",
            "label": "Show Trust Badges",
            "default": true
        },
        {
            "id": "trust-badges-background-color",
            "type": "color",
            "label": "Background Color"
        },
        {
            "id": "trust-badges-color",
            "type": "color",
            "label": "Text Color"
        },
        {
            "id": "trust-badge-font-size",
            "type": "range",
            "min": 0,
            "max": 32,
            "unit": "px",
            "label": "Font Size",
            "default": 16
        },
        {
            "id": "mobile-trust-badge-font-size",
            "type": "range",
            "min": 0,
            "max": 32,
            "unit": "px",
            "label": "Font Size (Mobile)",
            "default": 10
        },
        {
            "id": "trust-badge-line-height",
            "type": "range",
            "min": 0,
            "max": 32,
            "unit": "px",
            "label": "Line Height",
            "default": 24
        },
        {
            "id": "mobile-trust-badge-line-height",
            "type": "range",
            "min": 0,
            "max": 32,
            "unit": "px",
            "label": "Line Height (Mobile)",
            "default": 16
        }
    ],
    "blocks": [
        {
            "type": "select",
            "name": "Add Trust Badge",
            "settings": [
                {
                    "id": "trust-badge-icon",
                    "type": "text",
                    "label": "Icon"
                },
                {
                    "id": "trust-badge-text",
                    "type": "text",
                    "label": "Text",
                    "default": "Add trust badge text here"
                }
            ]
        }
    ]
}
{% endschema %}