html, body {
	font-family: 'Montserrat', sans-serif;
}
.product_name.title{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #171B2B;
}
span.current_price span {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.was-price {
    text-decoration: none;
}
span.was-price span{
	font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: line-through;
    color: #E790A9;
}
span.sale.savings{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #3656A3;
  	display: inline-block;
}
.product-section-delivery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.delivery-icon{
	margin-right: 16px;
}
.delivery-icon svg{
	display: block;
}
.delivery-text p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #171B2B;
}
.purchase-details.has-quantity-box {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.product-quantity-box-title h3{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  	text-transform: uppercase;
}
.quantity-wrapper .control:not(.quantity-input-control) {
    border-radius: 50% !important;
    border: 1px solid #BDBDBD;
    overflow: hidden;
    background: #F2F2F2;
    width: 32px;
    height: 32px;
    display: inline-block;
  	min-width: 32px;
  	position: absolute;
    top: 50%;
    transform: translateY(-50%);
  	z-index: 10;
}
.quantity-wrapper .control:not(.quantity-input-control) .quantity-element{
    border-radius: 50% !important;
	width: 100%;
    height: 100%;
    background: #F2F2F2;
    min-height: 32px;
}
.product-section-video {
    margin-bottom: 80px;
}
.bottom-banner-cta a:hover{
    background: #DBDE47;
    color: #fff;
    border-color: transparent;
}
.ajax-cart__quantity-box{
    max-width: 106px;
}
.quantity-wrapper.quantity-style--box.is-medium .quantity-element{
    min-height: auto;
    min-width: 32px;
    height: 32px;
    padding: 0;
}
.quantity-wrapper .quantity-plus .icon, .quantity-wrapper .quantity-minus .icon{
    padding: 1px;
}

.quantity-wrapper .control:not(.quantity-input-control) .quantity-element .icon{
	fill: #000;
}
.quantity-wrapper .control.minus-control{
	left: 0;
}
.quantity-wrapper .control.plus-control{
	right: 0;
}
.quantity-wrapper .control.quantity-input-control{
	border: 1px solid #BDBDBD;
  	width: 106px !important;
  	border-radius: 80px;
  	height: 32px;
  	overflow: hidden;
}
.quantity-wrapper .control.quantity-input-control input{
	border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    min-height: 48px;
}
.product-quantity-box .quantity-wrapper{
	position: relative;
  	display: inline-block;
    max-height: 32px;
}
.product-quantity-box.purchase-details__quantity{
	width: auto;
  	display: inline-block;
    vertical-align: middle;
      max-width: 33%;
  margin-top: 0;
}
.purchase-details .purchase-details__spb--true {
    display: inline-block;
    vertical-align: middle;
      max-width: 66%;
      margin-top: 0;
}
.product-section-fbt{
    margin-bottom: 80px;
}
.purchase-details .purchase-details__spb--true .action_button.action_button--secondary {
    background: #f7fb4e;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #171e29;
    width: 100%;
    max-width: 100%;
    height: 48px;
    display: inline-block;
    padding: 12px 12px;
    border-radius: 40px;
}
.purchase-details .purchase-details__spb--true .action_button.action_button--secondary:hover{
    background: #DBDE47;
    color: #fff;
}
.purchase-details .purchase-details__spb--true .shopify-payment-button {
    display: inline-block;
}
button.shopify-payment-button__more-options{
	display: none;
}
.product-quantity-box-title {
    margin-bottom: 8px;
}
.addcart-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.product-section-info-tab .product-section-info-tab-content{
	display:none;
}
.product-section-info-tab.active .product-section-info-tab-content{
	display: block
}
.product-section-info-tab .opened{
	display:none;
}
.product-section-info-tab .closed{
	display: block;
}
.product-section-info-tab.active .opened{
	display:block;
}
.product-section-info-tab.active .closed{
  display: none;
}
.product-section-info-tab-title {
    cursor: pointer;
    border-bottom: 1px solid #171B2B20;
}
.product-section-info-tab-title p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #171B2B02;
}
.product-section-info-tab-title p span:first-child{
	font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #171B2B;
}
.product-section-info-tab{
	margin-bottom: 16px;
}
.product-section-info-tab-content{
    padding-top: 16px;
	padding-bottom: 16px;
    border-bottom: 1px solid #171B2B20;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #171B2B;
    opacity: 0.8;
}
.description.content.bottom.has-padding-top{
    display: none;
}
.section-inner{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}
#theme-ajax-cart.is-drawer{
    z-index: 999;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
}
.ajax-cart__list{
    height: calc(100vh - 222px);
    overflow-y: scroll;
}
.ajax-cart__subtotal {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}
.ajax-cart__button-wrapper button.ajax-cart__button span{
    display: none;
}
.ajax-cart__button-wrapper a.ajax-cart__cart-link {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #171B2B;
}
.ajax-cart__button-wrapper button.ajax-cart__button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171B2B;
    padding: 12px 0;
    max-height: initial;
    display: inline-block;
    height: auto;
}
div#theme-ajax-cart {
    width: 100%;
    max-width: 375px;
}
figure.ajax-cart__product-image.media-left {
    min-width: 128px;
}
.ajax-cart__product-title a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-transform: capitalize;
}
.addcart-wrap .purchase-details__quantity.product-quantity-box.quantity-box--box {
    display: none!important;
}
.ajax-cart__price.price .money.sale {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #171B2B;
}
.ajax-cart__price.price .money.was-price {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #E790A9;
}

.product-section-top-icons{
    padding: 80px 0;
}
.product-section-faq{
    padding-top: 40px;
    padding-bottom: 80px;
}
.faq-heading {
    text-align: center;
    margin-bottom: 80px;
}
.faq-item-question h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    padding: 24px 0;
}
.faq-item-question .svgs svg{
    display: none;
}
.faq-item-question[data-status="opened"] .svgs .opened{
    display: block;
}
.faq-item-question[data-status="closed"] .svgs .closed{
    display: block;
}
.faq-item-question{
    cursor: pointer;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.faq-item-answer p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.faq-item-answer{
    padding: 24px 0;
    border-bottom: 1px solid #DDDDDD;
    display: none;
}
.faq-item-question[data-status="opened"] ~ .faq-item-answer{
    display: block;
}
.faq-heading h2{
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #171B2B;
}
.top-icons-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.top-icons-item {
    max-width: 175px;
    text-align: center;
    width: 100%;
}
.top-icons-item-text p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #3656A3;
}
.top-icons-item-icon{
    margin-bottom: 16px;
}
.product-section-top-banner {
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    position: relative;
}
.show-mobile{
    display: none;
}
.top-banner-content{
    max-width: 464px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.top-banner-heading{
    margin-bottom: 16px;
}
.top-banner-heading h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.top-banner-text{
    margin-bottom: 32px;
}
.top-banner-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.top-banner-cta{

}
.top-banner-cta a{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 20px 40px;
    border-radius: 80px;

}
.benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}
.benefits-item{
    max-width: 368px;
    margin: 0 16px;
}
.benefits-item:first-child{
    margin-left: 0;
}
.benefits-item:last-child{
    margin-right: 0;
}
.benefits-item-image{
    margin-bottom: 24px;
}
.benefits-item-image img{
    max-width: 100%;
}
.benefits-item-heading{
    margin-bottom: 16px;
}
.benefits-item-heading h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171B2B;
}
.benefits-item-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #171B2B;
}
.product-section-middle-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
    position: relative;
    margin-bottom: 80px;
}
.product-section-middle-banner .overlay{
    position: absolute;
    left: 0;
    top: 0;
    border-top: 615px solid #171B2B80;
    border-left: 0 solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 55%;
}
.middle-banner-content{
    max-width: 464px;
    width: 100%;
}
.middle-banner-heading{
    margin-bottom: 16px;
}
.middle-banner-heading h2{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.middle-banner-text{
    color: #fff;
}
.middle-banner-text h3{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.middle-banner-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.middle-banner-text p:first-child{
    margin-bottom: 48px;
}
.chess-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.chess-item-iamge {
    width: 50%;
    min-width: 50%;
}
.chess-item-content{
    max-width: 464px;
    min-width: 464px;
}
.chess-item-heading{
    margin-bottom: 16px;
    max-width: 464px;
}
.chess-item-heading h3{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171B2B;
}
.chess-item-text{
    max-width: 464px;
}
.chess-item-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #171B2B;
}
.chess-item:nth-child(even){
    flex-direction: row-reverse;
}
.video-heading {
    text-align: center;
    max-width: 464px;
    margin: 0 auto 40px;
}
.video-icon{
    margin-bottom: 16px;
}
.video-text{
    text-align: center;
}
.product-section-video-bg{
    padding-top: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.video-text a{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.video-icon a {
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
}
.video-heading h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.fbt-content-left {
    width: 100%;
}
.fbt-heading h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171B2B;
}

.fbt-heading {
    text-align: center;
    max-width: 464px;
    margin: 0 auto 64px;
}
.fbt-content {
    display: flex;
    justify-content: space-between;
}
.fbt-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.fbt-item {
    width: 100%;
    max-width: 33%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center -54px;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.fbt-item:last-child{
    margin-right: 0;
}
.cart__quantity .product-quantity-box .quantity-wrapper{
    max-width: 100%;
}
.cart__quantity .control.quantity-input-control.quantity-input-control--fill {
    border: 1px solid #BDBDBD;
    min-width: 176px;
    border-radius: 80px;
    height: 32px;
    overflow: hidden;
}
.cart__quantity .purchase-details__quantity.product-quantity-box{
    max-width: 100%;
}
.fbt-price {
    width: 100%;
    position: relative;
    padding: 8px;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fbt-price strong{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #171B2B;
}
.fbt-price strong span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #E790A9;
    margin-left: 8px;
}
.fbt-price > span{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    top: -40px;
    right: 16px;
    position: absolute;
}
.fbt-price > span svg{
    display: none;
}
.fbt-item.active .fbt-price > span{
    border: 0;
    background-color: #DBDE47;
}
.fbt-item.active .fbt-price > span svg{
    display: block;
}
.fbt-name span{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    min-width: 24px;
    margin-right: 8px;
}
.fbt-name span svg{
    display: none;
}
.fbt-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}
.fbt-name:last-child{
    margin-bottom: 0;
}
.fbt-name strong{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}
.fbt-checkbox.active .fbt-name span svg{
    display: block;
}
.fbt-checkbox.active .fbt-name span{
    border: 0;
    background-color: #DBDE47;
}
.fbt-checkbox{
    cursor: pointer;
}
.fbt-checkbox.active .fbt-name strong{
    color: #000;
}
.fbt-checkboxes{
    margin-bottom: 16px;
}
.fbt-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4E4E4E;
}
.fbt-text{
    margin-bottom: 24px;
}
.fbt-content-right {
    max-width: 368px;
    margin-left: 16px;
    min-width: 368px;
}
.fbt-price-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.fbt-price-summary .sale {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.fbt-price-summary .was{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: line-through;
    color: #E790A9;
}
.fbt-price-summary .save{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #3656A3;
}
.fbt-price-summary p{
    margin-right: 8px;
}
.fbt-price-summary p:last-child{
    margin-right: 0;
}
.fbt-price-summary{
    margin-bottom: 32px;
}
.fbt-add a {
    background: #f7fb4e;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171e29;
    padding: 24px 0;
    border-radius: 80px;
}
.fbt-add a:hover{
    background: #DBDE47;
    color: #fff;
}
.similar-heading {
    text-align: center;
    margin-bottom: 64px;
}
.similar-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.similar-item {
    margin-right: 16px;
    max-width: 25%;
    width: 100%;
}
.similar-item:last-child{
    margin-right: 0;
}
.similar-item-image {
    margin-bottom: 24px;
}
.similar-item-title{
    margin-bottom: 16px;
    min-height: 48px;
}
nav.breadcrumb ul li a, nav.breadcrumb ul li span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
nav.breadcrumb ul li span.breadcrumb-separator {
    margin: 0 4px;
}
.page-navigation-arrows{
    display: none;
}
.similar-item-title a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    /* text-align: center; */
    display: inline-block;
}

.similar-item-price{
    margin-bottom: 24px;
    text-align: center;
}
.similar-item-price p{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #3656A3;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.bottom-banner-content{
    padding: 136px 0;
}
.product-section-similar{
    padding-bottom: 80px;
}
.product-section-bottom-banner{
    margin-top: 51px;
    position: relative;
    margin-bottom: 80px;
}
.similar-item-price p u{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #E790A9;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}
.browsing-content {
    position: relative;
}
.footer__credits p, .footer__credits a{
    color: #fff;
}
.blog-card__content .media {
    max-height: 50px;
    overflow: hidden;
}
.swatch .swatch-element {
    border-radius: 50%;
    overflow: hidden;
}
.swatch-element.color label {
    overflow: hidden;
    border-radius: 50%;
}
.sticky-bar-product-button .swatch_options.collection_swatches{
    display: none;
}
.quick-shop .has-product-sticker .sticker-shape-square .thumbnail-sticker {
    display: none;
}
.quick-shop .purchase-details__buttons.purchase-details__spb--false {
    margin-top: 0;
    height: 48px;
    max-height: 48px;
}
.quick-shop .purchase-details.has-quantity-box .purchase-details__spb--false .button--add-to-cart {
    height: 100%;
    max-height: 48px;
    min-height: 48px;
}
.product-gallery .product-gallery__main .flickity-prev-next-button{
    z-index: 0;
}
a.product-thumbnail__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    /* text-align: center; */
    display: inline-block;
}
span.product-thumbnail__price.price.sale span.money{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #3656A3;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
span.product-thumbnail__price.price.sale  span.product-thumbnail__was-price.was-price span.money{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #E790A9;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}
.browsing-content:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 17px;
    background: #fff;
}
.shopify-section.collection-list .product-wrap .thumbnail .image-element__wrap img{
    max-height: 370px;
}
.browsing-list{
    margin-bottom: 80px;
}
.product-section-bottom-banner-bg {
    position: absolute;
    top: -51px;
    left: 0;
    width: 100%;
    height: calc(100% + 51px);
    z-index: 0;
    background-size: cover;
}
.similar-item-add a,
.similar-item-add button{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171B2B;
    display: inline-block;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border-radius: 80px;
    border: 1px solid #000;
}
.similar-item-add a:hover{
    background: #DBDE47;
    border-color: transparent;
    color: #fff;
}
.bottom-banner-heading h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #171B2B;
    margin-bottom: 16px;
}
.bottom-banner-heading h3{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    color: #4EBCC2;
    display: inline-block;
    padding: 16px 32px;
    background: #fff;
    margin-bottom: 40px;
}
.bottom-banner-cta a{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171B2B;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 4px;
    border: 1px solid #171B2B;
}
.browsing-heading{
    margin-bottom: 64px;
}
.browsing-heading h2{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171B2B;
}
/* .product-section-chess {
    margin-top: 80px;
} */
/* .product_section {
    margin-bottom: 80px;
} */
.browsing-list{
    display: grid;
    grid-column-gap: 32px;
    text-align: center;
    grid-gap: 16px;
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 272px;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * 20px);
    margin-bottom: calc(-.25 * 20px);
}
.browsing-list .item{
    min-width: 272px;
    width: 100%;
    max-width: 272px;
}
.browsing-list .item .img{
    display: inline-block;
    margin-bottom: 24px;
}
.browsing-list .item .title a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.browsing-list:after {
    display: block;
    content: '';
    background: #fff;
    width: 106%;
    position: absolute;
    height: 17px;
    bottom: 0;
}
p.modal_price.subtitle {
    margin-bottom: 28px;
    margin-top: 8px;
}
.top-icons-item-icon img {
    max-width: 64px;
    max-height: 64px;
}
.chess-item-image {
    max-width: 50%;
}
.fbt-checkbox {
    margin-bottom: 8px;
}
.benefits-list:before, .benefits-list:after {
    content: '';
    width: 10px;
}
.browsing-list:before, .browsing-list:after {
    content: '';
    width: 10px;
}
.product-section-browsing{
    margin-bottom: 80px;
}
.purchase-details__quantity.product-quantity-box.quantity-box--box{
    display: none;
}
.product-quantity-box-title{
    display: none;
}
.fbt-checkbox .fbt-price{
    display: none;
}
.thumbnail-swatch .swatch,
.thumbnail-swatch span {
    border-radius: 50%;
}
.product-gallery__thumbnails .media-badge {
    top: calc(50% - 14px);
    right: calc(50% - 14px);
}
.product-gallery__thumbnail > img {
    width: 100%;
}
@media (max-width: 992px) {
    .product-gallery .product-gallery__main .flickity-prev-next-button{
        top: 50%;
        border: 1px solid #000;
        transform: translateY(-50%);
        background: rgba(255,255,255,0.6);
        opacity: 1;
        padding: 8px;
    }
    .fbt-price{
        justify-content: flex-start;
        background: #fff;
    }
    .fbt-checkbox .fbt-price{
        display: block;
    }
    .fbt-item .fbt-price{
        display: none;
    }
    .fbt-price-summary .was{
        font-size: 16px;
        line-height: 24px;
        margin-right: 0;
    }
    .fbt-price-summary p.total{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #4E4E4E;
        margin-right: 8px;
    }
    .fbt-price-summary .sale{
        margin-right: 4px;
    }
    .fbt-price-summary .save{
        display: none;
    }
    .fbt-price-summary{
        justify-content: center;
    }
    .fbt-name{
        margin-bottom: 0;
    }
    .product-section-top-icons{
        padding: 30px 0;
    }
    .product_section{
        margin-bottom: 0;
    }
    .product-gallery .product-gallery__main .flickity-prev-next-button.next{
        right: 22px;
    }
    .product-gallery .product-gallery__main .flickity-prev-next-button.previous{
        left: 22px;
    }
    .product-gallery__thumbnails{
        display: none;
    }
    .show-mobile {
        display: block;
    }
    .fbt-list{
        display: flex;
        flex-wrap: unset;
    }

    .fbt-item{
        width: 100%;
        max-width: 33%;
    }
    .product__images.one-half.column.medium-down--one-whole {
        margin-bottom: 16px;
    }
    .product_name.title {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #171B2B;
        margin-bottom: 16px;
        text-align: center;
    }
    .product-quantity-box-title{
        display: none;
    }
    p.modal_price.subtitle {
        margin-bottom: 16px;
        text-align: center;
    }

    .product__information {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .product__information > div:first-child{
        order: 0;
    }
    .product-form-container{
        padding-top: 0;
        order: 1;
    }
    .product-section-delivery{
        order: 2;
        margin-bottom: 24px;
    }
    .section,.section-inner{
        max-width: 100%;
        width: 100%;
    }
    .section-inner {
        padding: 0 15px;
    }
    .product-section-info-tabs{
        order: 3;
    }
    .fbt-content{
        flex-direction: column;
    }
    .fbt-list{
        margin-bottom: 24px;
    }
    .fbt-item{
        max-width: 47%;
    }
    .fbt-item:nth-child(2n+2){
        margin-right: 0;
    }
    .similar-list{
        flex-wrap: wrap;
    }
    .similar-item{
        max-width: 47%;
    }
    .similar-item:nth-child(2n+2){
        margin-right: 0;
    }
    .bottom-banner-heading h3{
        font-size: 48px;
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        text-align: center;
    }
    .chess-item{
        flex-direction: column;
    }
    .chess-item-content{
        min-width: auto;
        width: 100%;
    }
    .product-quantity-box.purchase-details__quantity{
        max-width: 100%;
    }
    .fbt-content-right{
        min-width: auto;
        width: 100%;
    }
    .purchase-details__quantity.product-quantity-box.quantity-box--box{
        margin-bottom: 24px;
    }
    button.button--add-to-cart{
        margin-bottom: 0;
        margin-top: 0;
    }
    .delivery-text p{
        font-size: 12px;
        line-height: 16px;
    }
    .product-section-info-tab-title p,.product-section-info-tab-content{
        border-bottom: 1px solid #171B2B20;
    }
    .top-icons-list{
        flex-wrap: wrap;
    }
    .top-icons-item{
        max-width: 33%;
        padding: 0 10px 30px;
    }
    .product-section-top-icons .section-inner {
        padding: 0;
    }
    .top-icons-item:nth-child(n+4){
        padding-bottom: 0;
    }
    .product-section-top-banner{
        background-image: none!important;
    }
    .top-banner-content{
        padding-top: 40px;
    }
    .top-banner-heading h2{
        font-size: 32px;
        line-height: 40px;
        color: #171B2B;
        text-align: center;
    }
    .top-banner-text p{
        color: #171B2B;
    }
    .top-banner-text{
        margin-bottom: 24px;
    }
    .top-banner-cta a{
        background: #3656A3;
        text-align: center;
        width: 100%;
    }
    .benefits-list{
        display: grid;
        margin-right: -32px;
        margin-left: -32px;
        grid-gap: 16px;
        grid-template-columns: 10px;
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: calc(.75 * 20px);
        margin-bottom: calc(-.25 * 20px);
        grid-auto-columns: max-content;
        grid-template-rows: auto;
    }
    .benefits-list:before, .benefits-list:after {
        content: '';
        width: 10px;
    }
    .benefits-item{
        min-width: 216px;
        max-width: 216px;
        margin: 0;
    }
    .product-section-benefits {
        padding-bottom: 64px;
    }
    .product-section-middle-banner{
        background-image: none!important;
        padding-top: 0;
    }
    .product-section-middle-banner .overlay{
        display: none;
    }
    .middle-banner-mobile-image.show-mobile{
        margin-bottom: 56px;
    }
    .middle-banner-heading h2{
        font-size: 24px;
        line-height: 32px;
        color: #171B2B;
    }
    .blog-card.show-border-false .blog-card__read-more{
        margin: auto 1.5rem 1.5rem;
    }
    .blog-card.show-border-false .card-content{
        padding: 1.5rem;
    }
    .middle-banner-text p, .middle-banner-text h3{
        color: #171B2B;
    }
    .chess-item-image {
        margin-bottom: 40px;
    }
    .chess-item-heading h3 {
        font-size: 32px;
        line-height: 40px;
    }
    .chess-item:nth-child(even){
        flex-direction: column;
    }
    .product-section-video-bg{
        padding: 40px 0;
    }
    .product-section-video{
        margin-bottom: 0;
    }
    .fbt-heading h2{
        font-size: 24px;
        line-height: 32px;
    }
    .fbt-checkbox{
        margin-bottom: 16px;
    }
    .fbt-checkbox:last-child{
        margin-bottom: 0;
    }
    .fbt-content-right{
        margin-left: 0;
    }
    .bottom-banner-heading h2{
        font-size: 32px;
        line-height: 56px;
        color: #fff;
    }
    .bottom-banner-cta a{
        width: 100%;
        border-radius: 80px;
        text-align: center;
    }
    .product-section-bottom-banner-bg{
        background-position: 100% 0%;
        background-size: 750px;
        background-repeat: no-repeat;
    }
    .addcart-wrap{
        flex-direction: column;
    }
    .purchase-details .purchase-details__spb--true{
        max-width: 100%;
        width: 100%;
    }
    .quantity-wrapper .control:not(.quantity-input-control){
        width: 32px;
        height: 32px;
        min-width: 32px;
    }
    .quantity-wrapper .control:not(.quantity-input-control) .quantity-element{
        width: 100%;
        height: 100%;
        background: #F2F2F2;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: auto;
        min-height: auto;
    }
    .quantity-wrapper .control.quantity-input-control{
        width: 106px !important;
        height: 32px;
    }
    .quantity-wrapper .control.quantity-input-control input {
        min-height: 32px;
        line-height: 32px;
        height: 32px;
    }
    .chess-item-image{
        max-width: 100%;
    }
    .similar-item-title{
        min-height: 96px;
        max-height: 96px;
        overflow: hidden;
    }
    .product-section-top-banner .section-inner {
        width: 100%;
        padding: 0;
    }
    .top-banner-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .player .video-heading h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-right: 15px;
        padding-left: 15px;
    }
    .player .video-heading {
        width: 100%;
        top: 10%;
    }
    .product-section-video-bg .player__button.toggle:not(.fullscreen){
        top: 55%;
    }
    .product-section-video-bg .player.paused button.player__button.toggle{
        width: 56px;
        height: 56px;
    }
    .product-section-video-bg .player.paused button.player__button.toggle svg:not(.played) {
        width: 19px;
    }
    /* .product-section-video-bg .player.paused button.player__button.toggle:before{
        display: none;
    } */
    h2.rich-text__heading {
        font-size: 32px !important;
        line-height: 40px;
    }

    h2.image-with-text-overlay__heading {
        font-size: 28px;
        line-height: 32px;
    }

    h3.image-with-text__heading {
        font-size: 24px !important;
        line-height: 32px;
    }

    .sticky-bar-product-button button.sold-out {
        width: 100%;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    .ajax-cart__details-wrapper {
        position: fixed;
        width: 100%;
        bottom: 0;
        background: white;
        height: 20vh;
        z-index: 999;
    }
    .ajax-cart__button-wrapper a.ajax-cart__cart-link {
        margin-top: 10px;
    }
    div#theme-ajax-cart {
        max-width: 100%;
    }
    .product-section-video .section-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .player {
        border: none !important;
    }
}